Repository mikkihugo/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: alejandra, statix, shellcheck, shfmt

alejandra:
  run: alejandra --check {staged_files}

statix:
  run: statix check {staged_files}

shellcheck:
  run: shellcheck --external-sources {staged_files}

shfmt:
  run: shfmt -d {staged_files}

fix(hooks): match resolved target dir, not raw command text, in jj-guard fallback
  config/claude/hooks/block-raw-git-in-jj-repos.sh
Due: shellcheck, shfmt

fix(hooks): coordination-mailbox identity/principal must satisfy the downstream pattern
  config/codex/hooks/coordination-mailbox-sweep.mjs
Due: none

docs(mise): note that Rust moved to the fleet nix-managed toolchain
  config/mise/config.toml
Due: none

feat(hooks): coordination sweep fast path — one atomic server-side call
  config/codex/hooks/coordination-mailbox-sweep.mjs
  config/codex/hooks/coordination-mailbox-sweep.test.mjs
Due: none

feat(hooks): enable the coordination tier for kimi-code
  config/kimi-code/hooks/swarm-messages.sh
Due: shellcheck, shfmt

fix(hooks): sweep path skips the legacy ack loop and cursor; map server wire shape
  config/codex/hooks/coordination-mailbox-sweep.mjs
Due: none

fix(hooks): sweep fast path pushes flat items with _workspace like the legacy path
  config/codex/hooks/coordination-mailbox-sweep.mjs
Due: none

fix(hooks): sweep path trusts the server watermark, not the local cursor
  config/codex/hooks/coordination-mailbox-sweep.mjs
Due: none

feat(claude): gate skill-governed actions at the action, not at session start
  config/claude/hooks/skills-gate-mark-loaded.sh
  config/claude/hooks/skills-gate-pretooluse.sh
  home/modules/files.nix
  scripts/test-skills-gate-pretooluse.mjs
Due: alejandra, statix, shellcheck, shfmt

docs(hms): say to type `hms` alone — `hms switch` is rejected by nh
  AGENTS.md
  CLAUDE.md
  README.md
Due: none

autolog: drain session observations to repo_memory at Stop
  config/agent-hooks/install-swarm-hooks.mjs
  config/kimi-code/hooks/observations-autolog.mjs
  config/kimi-code/hooks/observations-autolog.sh
  home/modules/files.nix
Due: alejandra, statix, shellcheck, shfmt

autolog + coordination for all clients: copilot on the right bus
  config/agent-hooks/install-swarm-hooks.mjs
  config/claude/hooks/observations-autolog.sh
  config/codex/hooks.json
  config/copilot/copilot-instructions.md
  config/copilot/hooks/coordination-mailbox-sweep.sh
  config/copilot/hooks/observations-autolog.json
  config/copilot/hooks/observations-autolog.sh
  config/kimi-code/hooks/observations-autolog.mjs
  home/modules/files.nix
Due: alejandra, statix, shellcheck, shfmt

coordination bus for all clients: codex + claude wrappers set REPO_MEMORY_COORDINATION_BUS=1
  config/codex/hooks.json
  config/codex/hooks/coordination-mailbox-sweep.sh
  home/modules/files.nix
Due: alejandra, statix, shellcheck, shfmt

hooks: bump sweep/autolog timeouts 10s -> 30s
  config/agent-hooks/install-swarm-hooks.mjs
  config/codex/hooks.json
  config/copilot/hooks/observations-autolog.json
Due: none

fix: ack every mailbox copy of a broadcast, remember blocked ids per session
  config/claude/hooks/stop-continue-if-actionable.mjs
  config/claude/hooks/stop-continue-if-actionable.test.mjs
  config/codex/hooks/coordination-mailbox-sweep.mjs
  config/codex/hooks/coordination-mailbox-sweep.transport.test.mjs
Due: none

test: pin codex sweep hooks at the .sh shim, not the .mjs
  scripts/test-swarm-hook-config.mjs
Due: none

fix(codex): short MCP server key 'gateway' + non-prefixed tool names (64-char Responses API bound)
  config/codex/config.toml
Due: none

fix(codex): align non-prefixed MCP server_names with the ccgw server key
  config/codex/config.toml
Due: none

feat(copilot): openai wire + 3 user-defined agents + task-tool prompt library
  config/copilot/agents/README.md
  config/copilot/agents/balanced.agent.md
  config/copilot/agents/cheap-explore.agent.md
  config/copilot/agents/task-prompts.md
  config/copilot/agents/tri-lane.agent.md
  home/modules/files.nix
  scripts/test-codex-hosted-search.mjs
  shell/bash/bashrc
Due: alejandra, statix

fix(codex,kimi): budget repo-memory hooks at the 30s fleet standard (closes #28)
  config/agent-hooks/install-swarm-hooks.mjs
  config/codex/hooks.json
  scripts/test-swarm-hook-config.mjs
Due: none

fix(home/modules): change skills-gate-pretooluse.sh shebang to @bash@ marker
  config/agent-hooks/install-swarm-hooks.mjs
  config/claude/hooks/skills-gate-pretooluse.sh
  config/claude/hooks/skills-gate-session-start.sh
  config/codex/hooks/skills-gate-pretooluse.sh
  config/codex/hooks/skills-gate-session-start.sh
  config/copilot/hooks/skills-gate-pretooluse.sh
  config/copilot/hooks/skills-gate-session-start.sh
  config/factory/hooks/skills-gate-pretooluse.sh
  config/factory/hooks/skills-gate-session-start.sh
  config/kimi-code/hooks/skills-gate-pretooluse.sh
  config/kimi-code/hooks/skills-gate-session-start.sh
  home/modules/activation.nix
  home/modules/files.nix
Due: alejandra, statix, shellcheck, shfmt

style: reformat hook scripts with shfmt
  config/claude/hooks/skills-gate-pretooluse.sh
  config/claude/hooks/skills-gate-session-start.sh
  config/codex/hooks/skills-gate-pretooluse.sh
  config/codex/hooks/skills-gate-session-start.sh
  config/copilot/hooks/skills-gate-pretooluse.sh
  config/copilot/hooks/skills-gate-session-start.sh
  config/factory/hooks/skills-gate-pretooluse.sh
  config/factory/hooks/skills-gate-session-start.sh
  config/kimi-code/hooks/skills-gate-pretooluse.sh
  config/kimi-code/hooks/skills-gate-session-start.sh
Due: shellcheck, shfmt

fix(codex): warn that codex login --device-auth deletes ~/.codex/auth.json
  config/codex/AGENTS.md
Due: none

feat(home): disable kimi-code auto-mode permission reminders
  home/home.nix
Due: alejandra, statix

fix(dotfiles): deploy kimi-code coordination-mailbox-sweep.mjs hook
  home/modules/files.nix
Due: alejandra, statix

feat(dotfiles): kimi-code OTel session attributes + clean stdin contract
  config/agent-hooks/install-swarm-hooks.mjs
  config/kimi-code/hooks/otel-resource-attrs.sh
  config/kimi-code/init-otel.sh
  docs/agents/self-explanatory-timer-catalog.md
  docs/observability-borders.md
  docs/runbooks/2026-09-11-kimi-otel-tie.md
  docs/runbooks/2026-09-11-mcp-fleet-wire-grafana-loki.md
  home/home.nix
  home/modules/forgejo-pr-autofix.nix
  home/modules/git-auto-backup.nix
  home/modules/kimi-code-otel.nix
  profiles/default/links.json
  scripts/test-nix-tooling.mjs
Due: alejandra, statix, shellcheck, shfmt

fix(vcs): isolate Forgejo credential helper
  scripts/repo-vcs.sh
Due: shellcheck, shfmt

fix(hooks,vcs): hash-upgrade host hooks and hermetic Forgejo HTTPS prove
  config/agent-hooks/hooks.lock.json
  config/agent-hooks/install-swarm-hooks.mjs
  config/claude/hooks/coordination-mailbox-sweep.sh
  config/claude/hooks/skills-gate-session-start.sh
  config/codex/hooks/coordination-mailbox-sweep.sh
  config/codex/hooks/skills-gate-session-start.sh
  config/copilot/hooks/coordination-mailbox-sweep.sh
  config/copilot/hooks/skills-gate-session-start.sh
  config/factory/hooks/coordination-mailbox-sweep.sh
  config/factory/hooks/skills-gate-session-start.sh
  config/kimi-code/hooks/coordination-mailbox-sweep.sh
  config/kimi-code/hooks/skills-gate-session-start.sh
  home/modules/files.nix
  scripts/__pycache__/detect-secrets-work-packet-filter.cpython-313.pyc
  scripts/detect-secrets-work-packet-filter.py
  scripts/repo-vcs.sh
  scripts/test-detect-secrets-work-packet-filter.mjs
  scripts/test-repo-vcs.sh
  scripts/test-skills-gate-hook.mjs
  scripts/test-swarm-hook-config.mjs
Due: alejandra, statix, shellcheck, shfmt

fix(jcode): reassert watchdog PATH after 90-exact-root
  home/modules/jcode-server.nix
  scripts/test-nix-tooling.mjs
Due: alejandra, statix

refactor(hooks): derive managed-hook strip lists from what the installer emits
  config/agent-hooks/install-swarm-hooks.mjs
  scripts/__pycache__/detect-secrets-work-packet-filter.cpython-313.pyc
  scripts/test-swarm-hook-config.mjs
Due: none

chore(scripts): untrack generated python bytecode
  scripts/__pycache__/detect-secrets-work-packet-filter.cpython-313.pyc
Due: none

fix(hooks): move the Claude Stop hook onto the coordination tier
  config/claude/hooks/stop-continue-if-actionable.mjs
  config/claude/hooks/stop-continue-if-actionable.sh
  scripts/test-swarm-hook-config.mjs
Due: shellcheck, shfmt

fix(shell,tests): close dotfiles#31, #32, #33
  home/modules/shell.nix
  scripts/repo-check.sh
  scripts/test-detect-secrets-work-packet-filter.mjs
  scripts/test-hms-primary-checkout-guard.mjs
  scripts/test-nix-tooling.mjs
  scripts/test-stable-shell-path.mjs
Due: alejandra, statix, shellcheck, shfmt

feat(agents): mailbox check on Codex/Copilot, grok sweep client, Copilot /v1 base URL
  config/claude/hooks/coordination-mailbox-sweep.mjs
  config/codex/AGENTS.md
  config/codex/hooks/coordination-mailbox-sweep.mjs
  config/codex/hooks/coordination-mailbox-sweep.test.mjs
  config/codex/hooks/swarm-messages.mjs
  config/copilot/copilot-instructions.md
  config/copilot/hooks/coordination-mailbox-sweep.mjs
  config/factory/hooks/coordination-mailbox-sweep.mjs
  config/kimi-code/hooks/coordination-mailbox-sweep.mjs
  shell/bash/bashrc
Due: none

feat(agents): restore Purpose PDD + ADR-0000 as always-on developer prompt
  config/codex/AGENTS.md
  config/codex/config.toml
  config/codex/shared-preferences.toml
  config/copilot/copilot-instructions.md
  scripts/test-codex-preferences.py
Due: none

kimi-code hooks: port grok deny-bug-send + stop-actionable; bundle pending WIP
  config/agent-hooks/install-swarm-hooks.mjs
  config/codex/hooks/skills-gate-session-start.sh
  config/copilot/hooks/skills-gate-session-start.sh
  config/factory/hooks/skills-gate-session-start.sh
  config/kimi-code/hooks/deny-bug-send.sh
  config/kimi-code/hooks/skills-gate-session-start.sh
  config/kimi-code/hooks/stop-actionable.sh
  home/modules/files.nix
  home/modules/packages.nix
  justfile
  scripts/codex-preferences
  scripts/test-codex-preferences.py
  scripts/test-swarm-hook-config.mjs
  scripts/unit-doctor.sh
Due: alejandra, statix, shellcheck, shfmt

feat(vcs): repo vcs primary-to-main moves a stale primary onto origin/main without losing work
  .purpose/commands.json
  bin/repo
  just/vcs.just
  scripts/repo-vcs.sh
  scripts/test-repo-vcs.sh
Due: shellcheck, shfmt

fix(vcs): primary-to-main history match must not SIGPIPE under pipefail
  scripts/repo-vcs.sh
  scripts/test-repo-vcs.sh
Due: shellcheck, shfmt

Path conditions:
  alejandra: any of: *.nix
  statix: any of: *.nix
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
