Repository mikkihugo/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: alejandra, statix, shellcheck, shfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    alejandra:
      glob: "*.nix"
      run: alejandra --check {staged_files}

    statix:
      glob: "*.nix"
      run: statix check {staged_files}

    shellcheck:
      glob: "*.sh"
      run: shellcheck --external-sources {staged_files}

    shfmt:
      glob: "*.sh"
      run: shfmt -d {staged_files}

    typos:
      run: typos {staged_files}

    detect-secrets:
      exclude: \.secrets\.baseline$
      run: detect-secrets-hook --baseline .secrets.baseline {staged_files}

feat(agents): session-scoped swarm consumer identities with collision-resistant state files
  config/codex/hooks/swarm-messages.mjs
  docs/work/2026-07-23-swarm-session-consumers/README.md
  docs/work/2026-07-23-swarm-session-consumers/current-spec.snapshot.json
  docs/work/2026-07-23-swarm-session-consumers/evidence.bundle.json
  docs/work/2026-07-23-swarm-session-consumers/evidence/changed-files.json
  docs/work/2026-07-23-swarm-session-consumers/evidence/green-result.txt
  docs/work/2026-07-23-swarm-session-consumers/evidence/independent-review.md
  docs/work/2026-07-23-swarm-session-consumers/evidence/red-proof.txt
  docs/work/2026-07-23-swarm-session-consumers/evidence/red-result-t1.json
  docs/work/2026-07-23-swarm-session-consumers/evidence/red-result-t2.json
  docs/work/2026-07-23-swarm-session-consumers/evidence/red-result-t3.json
  docs/work/2026-07-23-swarm-session-consumers/evidence/result.json
  docs/work/2026-07-23-swarm-session-consumers/purpose.contract.json
  docs/work/2026-07-23-swarm-session-consumers/validation.report.json
  docs/work/2026-07-23-swarm-session-consumers/work.spec.json
  scripts/test-swarm-messages.mjs
Due: none

wip(opencode): add RED contract test for third-party plugin reset
  .secrets.baseline
  docs/work/2026-07-23-opencode-plugin-reset/README.md
  docs/work/2026-07-23-opencode-plugin-reset/current-spec.snapshot.json
  docs/work/2026-07-23-opencode-plugin-reset/evidence/red-proof.json
  docs/work/2026-07-23-opencode-plugin-reset/purpose.contract.json
  docs/work/2026-07-23-opencode-plugin-reset/work.spec.json
  scripts/test-opencode-plugin-reset.mjs
Due: none

feat(codex): external harness orchestration skill + run launcher
  .secrets.baseline
  config/codex/AGENTS.md
  config/codex/bin/codex-external-run.mjs
  config/codex/skills/external-harness-orchestration/SKILL.md
  config/codex/skills/external-harness-orchestration/agents/openai.yaml
  docs/work/2026-07-23-codex-external-harness-orchestration/README.md
  docs/work/2026-07-23-codex-external-harness-orchestration/current-spec.snapshot.json
  docs/work/2026-07-23-codex-external-harness-orchestration/evidence.bundle.json
  docs/work/2026-07-23-codex-external-harness-orchestration/evidence/changed-files.json
  docs/work/2026-07-23-codex-external-harness-orchestration/evidence/red-launcher.json
  docs/work/2026-07-23-codex-external-harness-orchestration/evidence/red-skill.json
  docs/work/2026-07-23-codex-external-harness-orchestration/purpose.contract.json
  docs/work/2026-07-23-codex-external-harness-orchestration/validation.report.json
  docs/work/2026-07-23-codex-external-harness-orchestration/work.spec.json
  home/modules/files.nix
  scripts/repo-check.sh
  scripts/test-codex-external-harness-skill.mjs
  scripts/test-codex-external-run.mjs
  scripts/test-nix-tooling.mjs
  typos.toml
Due: alejandra, statix, shellcheck, shfmt

feat(backup): report workspace debt from the 15-minute sweep
  home/modules/git-auto-backup.nix
Due: alejandra, statix

fix(backup): cover git worktrees, jj workspaces, and remote-less repos
  home/modules/git-auto-backup.nix
Due: alejandra, statix

feat(backup): preserve the workspace ownership ledger
  home/modules/git-auto-backup.nix
Due: alejandra, statix

fix(backup): keep the widened sweep inside its timeout
  home/modules/git-auto-backup.nix
Due: alejandra, statix

fix(devbox): use portable Engine cargo-pgrx
  .secrets.baseline
  OBSERVATIONS.md
  docs/work/2026-07-30-portable-cargo-pgrx/README.md
  docs/work/2026-07-30-portable-cargo-pgrx/current-spec.snapshot.json
  docs/work/2026-07-30-portable-cargo-pgrx/evidence.bundle.json
  docs/work/2026-07-30-portable-cargo-pgrx/evidence/changed-files.json
  docs/work/2026-07-30-portable-cargo-pgrx/evidence/red-proof.json
  docs/work/2026-07-30-portable-cargo-pgrx/evidence/result.json
  docs/work/2026-07-30-portable-cargo-pgrx/evidence/review-proof.json
  docs/work/2026-07-30-portable-cargo-pgrx/purpose.contract.json
  docs/work/2026-07-30-portable-cargo-pgrx/validation.report.json
  docs/work/2026-07-30-portable-cargo-pgrx/work.spec.json
  home/home.nix
  home/modules/cargo-pgrx-wrapper.sh
  home/modules/cargo-pgrx.nix
  scripts/repo-check.sh
  scripts/test-cargo-pgrx-wrapper.mjs
Due: alejandra, statix, shellcheck, shfmt

fix(codex): subscribe fresh swarm consumers atomically
  config/codex/hooks/swarm-messages.mjs
  scripts/test-swarm-messages.mjs
Due: none

feat(packages): add eternal-terminal for reconnecting devbox sessions
  home/modules/packages.nix
Due: alejandra, statix

fix(codex): route swarm hooks across canonical and lane scopes
  config/codex/hooks/swarm-messages.mjs
  scripts/test-swarm-messages.mjs
Due: none

feat(wezterm): retarget persistent tmux sessions from vega to devbox
  config/wezterm/wezterm.lua
Due: none

test(nix): preserve non-interactive hms contract
  scripts/test-nix-tooling.mjs
Due: none

feat(dotfiles): restore swarm contracts and native Claude ownership
  config/codex/config.toml
  config/codex/hooks.json
  config/codex/shared-preferences.toml
  config/cursor/hooks.json
  config/mise/config.toml
  config/wezterm/wezterm.lua
  flake.lock
  flake.nix
  home/modules/ai-tools.nix
  home/modules/cursor-stable-shell.nix
  home/modules/packages.nix
  home/modules/shell.nix
  home/modules/tailscale.nix
  scripts/test-codex-hosted-search.mjs
  scripts/test-nix-tooling.mjs
  shell/bash/bashrc
  shell/bash/otel-env.sh
Due: alejandra, statix, shellcheck, shfmt

fix(mise): expose node/npm/npx via ~/.local/bin for npm backend spawns
  home/modules/ai-tools.nix
Due: alejandra, statix

docs(work): commit red-phase evidence logs alongside their JSON summaries
  docs/work/2026-07-23-codex-external-harness-orchestration/evidence/green-launcher.log
  docs/work/2026-07-23-codex-external-harness-orchestration/evidence/green-skill.log
  docs/work/2026-07-23-codex-external-harness-orchestration/evidence/nix-build.log
  docs/work/2026-07-23-codex-external-harness-orchestration/evidence/red-launcher.log
  docs/work/2026-07-23-codex-external-harness-orchestration/evidence/red-skill.log
  docs/work/2026-07-23-codex-external-harness-orchestration/evidence/repo-check-baseline.log
  docs/work/2026-07-23-codex-external-harness-orchestration/evidence/repo-check.log
Due: none

feat(home): add jcode-gc daily garbage collection
  home/home.nix
  home/modules/jcode-gc.nix
Due: alejandra, statix

perf(push): skip home-manager build gate for non-nix changes
  scripts/repo-check.sh
Due: shellcheck, shfmt

perf(backup): parallelize git-auto-backup repo sweep
  home/modules/git-auto-backup.nix
Due: alejandra, statix

perf(shell): bound repo environment startup
  home/modules/shell.nix
  scripts/repo-check.sh
  scripts/test-stable-shell-path.mjs
  shell/bash/bashrc
  shell/bash/direnv-export.sh
Due: alejandra, statix, shellcheck, shfmt

fix(models): remove active Umans routes and normalize aliases
  config/codex/agents/explorer.toml
  config/codex/agents/worker.toml
  config/codex/config.toml
  config/goose/config.yaml
  home/modules/activation.nix
  home/modules/ai-tools.nix
Due: alejandra, statix

fix(codex): isolate gateway profiles from resident agents
  config/codex/agents/coder-fast.toml
  config/codex/agents/coder-smart.toml
  config/codex/agents/debugger.toml
  config/codex/agents/explorer.toml
  config/codex/agents/reviewer.toml
  config/codex/agents/test-writer.toml
  config/codex/agents/verifier.toml
  config/codex/agents/web-researcher.toml
  config/codex/agents/worker.toml
  config/codex/config.toml
  config/codex/external-profiles/external-explorer.config.toml
  config/codex/external-profiles/external-reasoner.config.toml
  config/codex/external-profiles/external-reviewer.config.toml
  config/codex/external-profiles/external-verifier.config.toml
  config/codex/external-profiles/external-worker.config.toml
  config/codex/shared-preferences.toml
  docs/work/2026-08-03-codex-profile-convergence/README.md
  docs/work/2026-08-03-codex-profile-convergence/current-spec.snapshot.json
  docs/work/2026-08-03-codex-profile-convergence/evidence/catalog-2026-08-03T14-23-55Z.json
  docs/work/2026-08-03-codex-profile-convergence/evidence/review.md
  docs/work/2026-08-03-codex-profile-convergence/purpose.contract.json
  docs/work/2026-08-03-codex-profile-convergence/work.spec.json
  home/modules/activation.nix
  home/modules/files.nix
  scripts/codex-preferences
  scripts/test-codex-hosted-search.mjs
  scripts/test-codex-preferences.py
Due: alejandra, statix

fix(home-manager): honor explicit flake overrides
  docs/work/2026-08-03-codex-profile-convergence/evidence/activation-attempt.md
  docs/work/2026-08-03-codex-profile-convergence/purpose.contract.json
  docs/work/2026-08-03-codex-profile-convergence/work.spec.json
  home/modules/shell.nix
  scripts/test-nix-tooling.mjs
Due: alejandra, statix

docs(codex): record profile activation proof
  docs/work/2026-08-03-codex-profile-convergence/evidence/activation-attempt.md
Due: none

fix(codex): route external verifier via minimax
  config/codex/external-profiles/external-verifier.config.toml
  docs/work/2026-08-03-codex-profile-convergence/evidence/verifier-minimax-activation.md
  scripts/test-codex-hosted-search.mjs
Due: none

feat(jcode-gc): prune /tmp/jcode-* debris older than 3 days
  home/modules/jcode-gc.nix
Due: alejandra, statix

fix(codex): isolate external gateway profiles
  config/codex/external-profiles/external-explorer.config.toml
  config/codex/external-profiles/external-reasoner.config.toml
  config/codex/external-profiles/external-reviewer.config.toml
  config/codex/external-profiles/external-verifier.config.toml
  config/codex/external-profiles/external-worker.config.toml
  docs/work/2026-08-03-codex-profile-convergence/work.spec.json
  home/modules/activation.nix
  scripts/test-codex-hosted-search.mjs
Due: alejandra, statix

fix(vcs): make task metadata correction safe
  .purpose/commands.json
  bin/repo
  just/vcs.just
  scripts/repo-vcs.sh
  scripts/test-repo-vcs.sh
Due: shellcheck, shfmt

fix(vcs): use live Forgejo endpoint
  scripts/repo-vcs.sh
  scripts/test-repo-vcs.sh
Due: shellcheck, shfmt

fix(jcode): prevent unmanaged server auto-start
  shell/bash/bashrc
Due: none

feat(ssh): authorise sshid.io/mhugo keys via activation hook
  OBSERVATIONS.md
  config/ssh/authorized_keys.sshid
  home/modules/activation.nix
  scripts/merge-authorized-keys
  scripts/repo-check.sh
  scripts/test-merge-authorized-keys.py
Due: alejandra, statix, shellcheck, shfmt

fix(ssh): declare tl.centralcloud.net alongside tl.hugo.dk
  config/ssh_config
Due: none

feat(claude): jj-aware status line for repos with a repo vcs facade
  config/claude/statusline-jj.sh
  home/modules/files.nix
Due: alejandra, statix, shellcheck, shfmt
