Repository mikkihugo/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: alejandra, statix, shellcheck, shfmt

alejandra:
  run: alejandra --check {staged_files}

statix:
  run: statix check {staged_files}

shellcheck:
  run: shellcheck --external-sources {staged_files}

shfmt:
  run: shfmt -d {staged_files}

fix(home): retire unsafe jcode lane settle timer
  .secrets.baseline
  docs/work/2026-08-03-jcode-lane-settle-retirement/README.md
  docs/work/2026-08-03-jcode-lane-settle-retirement/current-spec.snapshot.json
  docs/work/2026-08-03-jcode-lane-settle-retirement/evidence.bundle.json
  docs/work/2026-08-03-jcode-lane-settle-retirement/evidence/changed-files.json
  docs/work/2026-08-03-jcode-lane-settle-retirement/evidence/red-result.json
  docs/work/2026-08-03-jcode-lane-settle-retirement/evidence/result.json
  docs/work/2026-08-03-jcode-lane-settle-retirement/evidence/review.json
  docs/work/2026-08-03-jcode-lane-settle-retirement/purpose.contract.json
  docs/work/2026-08-03-jcode-lane-settle-retirement/validation.report.json
  docs/work/2026-08-03-jcode-lane-settle-retirement/work.spec.json
  home/modules/activation.nix
  lefthook.yml
  scripts/detect-secrets-work-packet-filter.py
  scripts/repo-check.sh
  scripts/test-detect-secrets-work-packet-filter.mjs
  scripts/test-jcode-lane-settle-retirement.mjs
  scripts/test-nix-tooling.mjs
Due: alejandra, statix, shellcheck, shfmt

chore(nix-shell-env): commit in-flight worktree state before landing
  docs/work/2026-08-03-jcode-lane-settle-retirement/evidence.bundle.json
  docs/work/2026-08-03-jcode-lane-settle-retirement/evidence/changed-files.json
  docs/work/2026-08-03-jcode-lane-settle-retirement/evidence/runtime-proof.json
Due: none

feat(jcode): enforce gateway and OAuth provider allowlist
  home/modules/ai-tools.nix
Due: alejandra, statix

feat(codex): external harness orchestration skill + run launcher
  config/codex/AGENTS.md
  config/codex/bin/codex-external-run.mjs
  config/codex/skills/external-harness-orchestration/SKILL.md
  config/codex/skills/external-harness-orchestration/agents/openai.yaml
  docs/work/2026-07-23-codex-external-harness-orchestration/README.md
  docs/work/2026-07-23-codex-external-harness-orchestration/current-spec.snapshot.json
  docs/work/2026-07-23-codex-external-harness-orchestration/evidence.bundle.json
  docs/work/2026-07-23-codex-external-harness-orchestration/evidence/changed-files.json
  docs/work/2026-07-23-codex-external-harness-orchestration/evidence/red-launcher.json
  docs/work/2026-07-23-codex-external-harness-orchestration/evidence/red-skill.json
  docs/work/2026-07-23-codex-external-harness-orchestration/purpose.contract.json
  docs/work/2026-07-23-codex-external-harness-orchestration/validation.report.json
  docs/work/2026-07-23-codex-external-harness-orchestration/work.spec.json
  home/modules/files.nix
  scripts/repo-check.sh
  scripts/test-codex-external-harness-skill.mjs
  scripts/test-codex-external-run.mjs
  scripts/test-nix-tooling.mjs
  typos.toml
Due: alejandra, statix, shellcheck, shfmt

docs(work): commit red-phase evidence logs alongside their JSON summaries
  docs/work/2026-07-23-codex-external-harness-orchestration/evidence/green-launcher.log
  docs/work/2026-07-23-codex-external-harness-orchestration/evidence/green-skill.log
  docs/work/2026-07-23-codex-external-harness-orchestration/evidence/nix-build.log
  docs/work/2026-07-23-codex-external-harness-orchestration/evidence/red-launcher.log
  docs/work/2026-07-23-codex-external-harness-orchestration/evidence/red-skill.log
  docs/work/2026-07-23-codex-external-harness-orchestration/evidence/repo-check-baseline.log
  docs/work/2026-07-23-codex-external-harness-orchestration/evidence/repo-check.log
Due: none

feat(agents): wire JCode and Factory swarm hooks
  config/agent-hooks/install-swarm-hooks.mjs
  config/codex/hooks/swarm-messages.mjs
  config/factory/settings.json
  scripts/test-swarm-hook-config.mjs
  scripts/test-swarm-messages.mjs
Due: none

feat(jcode): shared jcode server, provider routing, and preferences
  .secrets.baseline
  config/jcode/shared-preferences.toml
  config/jcode/swarm-prompt.md
  docs/work/2026-07-24-jcode-direct-gateway-routing/README.md
  docs/work/2026-07-24-jcode-direct-gateway-routing/current-spec.snapshot.json
  docs/work/2026-07-24-jcode-direct-gateway-routing/evidence.bundle.json
  docs/work/2026-07-24-jcode-direct-gateway-routing/evidence/changed-files.json
  docs/work/2026-07-24-jcode-direct-gateway-routing/evidence/red-t1.json
  docs/work/2026-07-24-jcode-direct-gateway-routing/evidence/red-t2.json
  docs/work/2026-07-24-jcode-direct-gateway-routing/evidence/red-t3.json
  docs/work/2026-07-24-jcode-direct-gateway-routing/evidence/result.json
  docs/work/2026-07-24-jcode-direct-gateway-routing/purpose.contract.json
  docs/work/2026-07-24-jcode-direct-gateway-routing/validation.report.json
  docs/work/2026-07-24-jcode-direct-gateway-routing/work.spec.json
  docs/work/2026-07-24-jcode-shared-tui-webtty/README.md
  docs/work/2026-07-24-jcode-shared-tui-webtty/current-spec.snapshot.json
  docs/work/2026-07-24-jcode-shared-tui-webtty/evidence.bundle.json
  docs/work/2026-07-24-jcode-shared-tui-webtty/evidence/changed-files.json
  docs/work/2026-07-24-jcode-shared-tui-webtty/evidence/red-t1.json
  docs/work/2026-07-24-jcode-shared-tui-webtty/evidence/red-t2.json
  docs/work/2026-07-24-jcode-shared-tui-webtty/evidence/red-t3.json
  docs/work/2026-07-24-jcode-shared-tui-webtty/evidence/result.json
  docs/work/2026-07-24-jcode-shared-tui-webtty/purpose.contract.json
  docs/work/2026-07-24-jcode-shared-tui-webtty/validation.report.json
  docs/work/2026-07-24-jcode-shared-tui-webtty/work.spec.json
  home/home.nix
  home/modules/jcode-providers.nix
  home/modules/jcode-server.nix
  scripts/__pycache__/detect-secrets-work-packet-filter.cpython-313.pyc
  scripts/jcode-preferences
  scripts/repo-check.sh
  scripts/test-jcode-preferences.py
  scripts/test-nix-tooling.mjs
Due: alejandra, statix, shellcheck, shfmt

fix(jcode): give the gateway wrapper sole ownership of the jcode binary
  home/modules/jcode-server.nix
  scripts/test-nix-tooling.mjs
Due: alejandra, statix

fix(vcs,check): wire land into the facade and stop the nix gate drifting
  just/vcs.just
  scripts/repo-check.sh
  scripts/repo-vcs.sh
  scripts/test-nix-gate-script-coverage.sh
Due: shellcheck, shfmt

fix(vcs,check): wire land into the facade and stop the nix gate drifting
  scripts/repo-check.sh
Due: shellcheck, shfmt

docs(adr),test(nix): record devShell variable collisions and guard path ownership
  docs/adr/005-devshell-shell-variable-collisions.md
  scripts/test-nix-tooling.mjs
Due: none

fix(mise): provide native build dependencies for updater
  home/modules/mise-auto-update.nix
  home/modules/packages.nix
  scripts/test-nix-tooling.mjs
Due: alejandra, statix

fix(engine-cleanup): bring the workspace sweep under Home Manager and stop it destroying registered workspaces
  home/home.nix
  home/modules/activation.nix
  home/modules/engine-worktree-cleanup.nix
  home/modules/engine-worktree-cleanup.sh
  scripts/repo-check.sh
  scripts/test-engine-worktree-cleanup.sh
Due: alejandra, statix, shellcheck, shfmt

git-auto-backup dirty snapshot
  TODO.md
  config/mise/config.toml
  docs/SYSTEM_DOCUMENTATION.md
  docs/adr/004-secrets-management.md
  flake.lock
  flake.nix
  home/home.nix
  home/modules/ai-tools.nix
  home/modules/cursor-stable-shell.nix
  home/modules/git.nix
  home/modules/home-emergency-backup.nix
  home/modules/packages.nix
  home/modules/shell.nix
  shell/bash/bashrc
  shell/bash/otel-env.sh
Due: alejandra, statix, shellcheck, shfmt

git-auto-backup dirty snapshot
  AGENTS.md
  CLAUDE.md
Due: none

fix(codex): install via official npm package; migrate mise tools to nix
  TODO.md
  config/goose/config.yaml
  config/mise/config.toml
  docs/SYSTEM_DOCUMENTATION.md
  docs/adr/004-secrets-management.md
  flake.lock
  flake.nix
  home/home.nix
  home/modules/activation.nix
  home/modules/ai-tools.nix
  home/modules/cursor-stable-shell.nix
  home/modules/git.nix
  home/modules/home-emergency-backup.nix
  home/modules/packages.nix
  home/modules/shell.nix
  shell/bash/bashrc
  shell/bash/otel-env.sh
Due: alejandra, statix, shellcheck, shfmt

fix(mise): expose node/npm/npx via ~/.local/bin for npm backend spawns
  home/modules/ai-tools.nix
Due: alejandra, statix

fix(codex): install via official npm package; migrate mise tools to nix
  TODO.md
  config/goose/config.yaml
  config/mise/config.toml
  docs/SYSTEM_DOCUMENTATION.md
  docs/adr/004-secrets-management.md
  flake.lock
  flake.nix
  home/home.nix
  home/modules/activation.nix
  home/modules/ai-tools.nix
  home/modules/cursor-stable-shell.nix
  home/modules/git.nix
  home/modules/home-emergency-backup.nix
  home/modules/packages.nix
  home/modules/shell.nix
  shell/bash/otel-env.sh
Due: alejandra, statix, shellcheck, shfmt

chore(mise): triage npm-backend tools; move openapi-generator-cli to nix
  config/mise/config.toml
  home/modules/packages.nix
Due: alejandra, statix

fix(shell): make hms select the host profile instead of the empty fallback
  home/modules/shell.nix
  scripts/test-nix-tooling.mjs
Due: alejandra, statix

docs(work): plan Codex mise helper repair
  docs/work/2026-08-08-codex-mise-helper/README.md
  docs/work/2026-08-08-codex-mise-helper/current-spec.snapshot.json
  docs/work/2026-08-08-codex-mise-helper/evidence/.gitkeep
  docs/work/2026-08-08-codex-mise-helper/evidence/purpose-validator-boundary.md
  docs/work/2026-08-08-codex-mise-helper/evidence/red-baseline.md
  docs/work/2026-08-08-codex-mise-helper/purpose.contract.json
  docs/work/2026-08-08-codex-mise-helper/work.spec.json
Due: none

docs(work): bind Codex mise plan to latest main
  docs/work/2026-08-08-codex-mise-helper/current-spec.snapshot.json
  docs/work/2026-08-08-codex-mise-helper/work.spec.json
Due: none

docs(work): refresh Codex mise packet baseline
  docs/work/2026-08-08-codex-mise-helper/current-spec.snapshot.json
  docs/work/2026-08-08-codex-mise-helper/work.spec.json
Due: none

fix(codex): stop AGENTS.md being silently truncated at 32 KiB
  config/codex/config.toml
  config/codex/shared-preferences.toml
  scripts/codex-preferences
Due: none

fix(jcode): stop Home Manager shadowing the NixOS jcode units
  home/modules/jcode-server.nix
  justfile
  scripts/test-nix-tooling.mjs
  scripts/unit-doctor.sh
Due: alejandra, statix, shellcheck, shfmt

fix(codex): expose codex-code-mode-host on PATH after the mise removal
  home/modules/ai-tools.nix
Due: alejandra, statix

refactor(codex): configure OTLP natively and drop the OTEL wrapper
  config/codex/config.toml
  home/modules/ai-tools.nix
Due: alejandra, statix

feat(unit-doctor): flag hand-written systemd drop-ins
  scripts/unit-doctor.sh
Due: shellcheck, shfmt

feat(codex): add a repeatable rollout GC recipe
  justfile
  scripts/codex-rollout-gc.sh
Due: shellcheck, shfmt

fix(unit-doctor): stop set -e aborting the scan on a vanished pid
  home/modules/ai-tools.nix
  scripts/unit-doctor.sh
Due: alejandra, statix, shellcheck, shfmt

chore(flake): take jujutsu 0.44
  flake.lock
  flake.nix
Due: alejandra, statix

fix(codex): serialize swarm hook delivery
  config/codex/hooks/swarm-messages.mjs
  docs/work/2026-08-09-swarm-hook-single-flight/README.md
  docs/work/2026-08-09-swarm-hook-single-flight/current-spec.snapshot.json
  docs/work/2026-08-09-swarm-hook-single-flight/evidence.bundle.json
  docs/work/2026-08-09-swarm-hook-single-flight/evidence/changed-files.json
  docs/work/2026-08-09-swarm-hook-single-flight/evidence/green-fixture-proof.json
  docs/work/2026-08-09-swarm-hook-single-flight/evidence/green-precommit-filter-proof.json
  docs/work/2026-08-09-swarm-hook-single-flight/evidence/green-proof.json
  docs/work/2026-08-09-swarm-hook-single-flight/evidence/red-fixture-proof.json
  docs/work/2026-08-09-swarm-hook-single-flight/evidence/red-precommit-filter-proof.json
  docs/work/2026-08-09-swarm-hook-single-flight/evidence/red-proof.json
  docs/work/2026-08-09-swarm-hook-single-flight/evidence/result.json
  docs/work/2026-08-09-swarm-hook-single-flight/evidence/review.json
  docs/work/2026-08-09-swarm-hook-single-flight/purpose.contract.json
  docs/work/2026-08-09-swarm-hook-single-flight/validation.report.json
  docs/work/2026-08-09-swarm-hook-single-flight/work.spec.json
  home/modules/files.nix
  scripts/detect-secrets-work-packet-filter.py
  scripts/test-detect-secrets-work-packet-filter.mjs
  scripts/test-swarm-hook-config.mjs
  scripts/test-swarm-messages.mjs
Due: alejandra, statix

sshid-key-sync: add 1 new key(s) from sshid.io/mhugo
  config/ssh/authorized_keys.sshid
Due: none

Add hourly sshid.io key sync
  home/home.nix
  home/modules/sshid-key-sync.nix
  scripts/sync-sshid-keys
Due: alejandra, statix

Add AGENTS.md agent guide, point CLAUDE.md at it
  AGENTS.md
  CLAUDE.md
Due: none

Add SSH Host block for git.centralcloud.net
  config/ssh_config
Due: none

Path conditions:
  alejandra: any of: *.nix
  statix: any of: *.nix
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
