Repository mikkihugo/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: alejandra, statix, shellcheck, shfmt

alejandra:
  run: alejandra --check {staged_files}

statix:
  run: statix check {staged_files}

shellcheck:
  run: shellcheck --external-sources {staged_files}

shfmt:
  run: shfmt -d {staged_files}

fix(dotfiles): scan backup root with pinned Git checks
  flake.nix
  home/modules/git-auto-backup.nix
Due: alejandra, statix

feat(agents): stop coding clients keeping their own memory
  AGENTS.md
  config/codex/config.toml
  config/codex/shared-preferences.toml
  home/modules/activation.nix
  scripts/codex-preferences
Due: alejandra, statix

feat(agents): disable memory in jcode, copilot, and opencode too
  config/copilot/settings.json
  config/jcode/shared-preferences.toml
  config/opencode/opencode.json
  scripts/jcode-preferences
Due: none

fix(swarm-hook): a purged message is settled, not a failure to retry forever
  config/codex/hooks/swarm-messages.mjs
  scripts/test-swarm-messages.mjs
Due: none

fix(swarm-hook): re-subscribe a reaped cursor, and stop jcode pinning the retention floor
  config/codex/hooks/swarm-messages.mjs
  scripts/test-swarm-messages.mjs
Due: none

docs(swarm-hook): record why a reaped cursor is not resumable, instead of promising a fix
  config/codex/hooks/swarm-messages.mjs
Due: none

fix(swarm-hook): bound the state directory, and make the sweep survive concurrent sweepers
  config/codex/hooks/swarm-messages.mjs
  scripts/test-swarm-messages.mjs
Due: none

fix(jcode): disable memory by environment, because the TOML path is fail-open
  home/modules/jcode-server.nix
Due: alejandra, statix

fix(sccache): degrade to local compile instead of hanging when the server dies
  config/jcode/shared-preferences.toml
  home/modules/build-cache-maintenance.nix
  home/modules/jcode-providers.nix
  scripts/jcode-preferences
Due: alejandra, statix

fix(vcs): make the task-branch prefix agent-neutral; repair the jcode preferences fixture
  scripts/repo-vcs.sh
  scripts/test-jcode-preferences.py
Due: shellcheck, shfmt

test(nix-tooling): assert provider membership instead of a literal array
  scripts/test-nix-tooling.mjs
Due: none

refactor(vcs): name task branches worktree/<name>, not codex/<name>
  scripts/repo-vcs.sh
Due: shellcheck, shfmt

feat(sccache): supervise the daemon as a systemd user service
  home/modules/build-cache-maintenance.nix
Due: alejandra, statix

jcode: add BytePlus Ark provider and fix multi-line value merge bug
  config/jcode/shared-preferences.toml
  home/modules/jcode-providers.nix
  scripts/jcode-preferences
  scripts/test-jcode-preferences.py
  secrets/api-keys.yaml
Due: alejandra, statix

fix(engine-worktree-cleanup): add python3 to service PATH for nix-direnv cache re-eval
  home/modules/build-cache-maintenance.nix
  home/modules/engine-worktree-cleanup.nix
  home/modules/engine-worktree-cleanup.sh
  scripts/test-engine-worktree-cleanup.sh
Due: alejandra, statix, shellcheck, shfmt

fix(devbox): bound backup resource pressure and scheduling
  docs/work/2026-08-14-host-resource-guardrails/README.md
  docs/work/2026-08-14-host-resource-guardrails/current-spec.snapshot.json
  docs/work/2026-08-14-host-resource-guardrails/evidence.bundle.json
  docs/work/2026-08-14-host-resource-guardrails/evidence/changed-files.json
  docs/work/2026-08-14-host-resource-guardrails/evidence/green-proof.json
  docs/work/2026-08-14-host-resource-guardrails/evidence/red-proof.json
  docs/work/2026-08-14-host-resource-guardrails/evidence/red-t1.json
  docs/work/2026-08-14-host-resource-guardrails/evidence/red-t2.json
  docs/work/2026-08-14-host-resource-guardrails/evidence/red-t3.json
  docs/work/2026-08-14-host-resource-guardrails/evidence/result.json
  docs/work/2026-08-14-host-resource-guardrails/purpose.contract.json
  docs/work/2026-08-14-host-resource-guardrails/validation.report.json
  docs/work/2026-08-14-host-resource-guardrails/work.spec.json
  home/modules/git-auto-backup.nix
  scripts/test-nix-tooling.mjs
Due: alejandra, statix

feat(shell): enter Nix once for every agent client
  home/home.nix
  home/modules/shell.nix
  home/modules/stable-shell.nix
  scripts/test-nix-tooling.mjs
  scripts/test-stable-shell-path.mjs
  shell/bash/bashrc
  shell/bash/direnv-export.sh
  shell/bash/noninteractive-path.sh
Due: alejandra, statix, shellcheck, shfmt

feat(shell): cache direnv export dumps for agent shells
  scripts/test-stable-shell-path.mjs
  shell/bash/direnv-export.sh
Due: shellcheck, shfmt

fix(shell): bound direnv re-entry that stalled the host
  shell/bash/direnv-export.sh
Due: shellcheck, shfmt

test(shell): pin the bounded direnv wait and concurrency ceiling
  scripts/test-stable-shell-path.mjs
Due: none

fix(shell): stop the slot probe from muting every shell stderr
  shell/bash/direnv-export.sh
Due: shellcheck, shfmt

fix(shell): remove a no-op dump filter that could publish a broken env
  shell/bash/direnv-export.sh
Due: shellcheck, shfmt

feat(mise): pull from nixpkgs-unstable for newer version
  flake.nix
Due: alejandra, statix

chore: update flake.lock
  flake.lock
Due: none

chore: remove jcode mise fallback
  config/mise/config.toml
  home/modules/ai-tools.nix
Due: alejandra, statix

fix(shell): export BASH_ENV for login and systemd user sessions
  home/home.nix
  scripts/test-nix-tooling.mjs
  scripts/test-stable-shell-path.mjs
Due: alejandra, statix

chore(mise): follow gogcli upstream rename to openclaw/gogcli
  config/mise/config.toml
Due: none

chore(jcode): single ~/.jcode/server/jcode symlink; simplify GC
  config/mise/config.toml
  home/modules/ai-tools.nix
  home/modules/jcode-gc.nix
  home/modules/jcode-server.nix
Due: alejandra, statix

chore(flake): bump nixpkgs-unstable (mise 2026.8.6, jj 0.44.0; no jj 0.46 yet)
  flake.lock
Due: none

fix(ssh): route native Bunker Windows through Tailscale
  config/ssh_config
Due: none

fix(shell): strip DIRENV_DIFF from agent-direnv dumps
  .gitignore
  docs/work/2026-08-21-direnv-dump-strip/README.md
  docs/work/2026-08-21-direnv-dump-strip/current-spec.snapshot.json
  docs/work/2026-08-21-direnv-dump-strip/evidence/green-proof.json
  docs/work/2026-08-21-direnv-dump-strip/purpose.contract.json
  docs/work/2026-08-21-direnv-dump-strip/work.spec.json
  scripts/test-stable-shell-path.mjs
  shell/bash/direnv-export.sh
  shell/bash/direnv-strip-snapshot.py
Due: shellcheck, shfmt

fix(shell): prune agent-direnv leftovers without zsh globs
  shell/bash/direnv-export.sh
Due: shellcheck, shfmt

git-auto-backup dirty snapshot
  config/mise/config.toml
  home/modules/home-emergency-backup.nix
  shell/bash/direnv-export.sh
Due: alejandra, statix, shellcheck, shfmt

git-auto-backup dirty snapshot
  docs/work/2026-08-08-codex-mise-helper/README.progress.md
Due: none

Path conditions:
  alejandra: any of: *.nix
  statix: any of: *.nix
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
