Repository mikkihugo/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: alejandra, statix, shellcheck, shfmt

alejandra:
  run: alejandra --check {staged_files}

statix:
  run: statix check {staged_files}

shellcheck:
  run: shellcheck --external-sources {staged_files}

shfmt:
  run: shfmt -d {staged_files}

chore(home): pin Codex 0.149.0 and run emergency backups daily
  config/mise/config.toml
  home/modules/home-emergency-backup.nix
Due: alejandra, statix

chore: retire remaining *.infra.centralcloud.com endpoints
  config/ssh_config
  flake.lock
  flake.nix
  home/home.nix
  home/modules/ai-tools.nix
  home/modules/forgejo-pr-autofix.nix
  scripts/repo-check.sh
  scripts/test-retired-infra-hosts.mjs
Due: alejandra, statix, shellcheck, shfmt

feat(ssh): add cc-se-sto-core-01 without dropping short aliases
  config/ssh_config
  scripts/repo-check.sh
  scripts/test-ssh-sto-core.mjs
Due: shellcheck, shfmt

fix(ssh): route mikki-bunker-windows via Tailscale admin; abandon leftover chore/missing worktrees
  config/ssh_config
  scripts/repo-check.sh
  scripts/repo-vcs.sh
  scripts/test-repo-vcs.sh
  scripts/test-ssh-bunker-windows.mjs
Due: shellcheck, shfmt

feat(vcs): retire leftover namespaced refs without a worktree
  .purpose/commands.json
  bin/repo
  just/vcs.just
  scripts/repo-vcs.sh
  scripts/test-repo-vcs.sh
Due: shellcheck, shfmt

fix(sccache): share the system daemon instead of a per-user server
  home/modules/build-cache-maintenance.nix
  home/modules/files.nix
  shell/bash/bashrc
Due: alejandra, statix

fix(sccache): retire leftover per-user daemon and cache
  home/modules/build-cache-maintenance.nix
Due: alejandra, statix

chore(home): shared sccache wiring, build-cache maintenance, typos allowlist
  .config/fish/config.fish
  config/nix/local-build.nix.conf
  home/home.nix
  home/modules/activation.nix
  home/modules/build-cache-maintenance.nix
  scripts/test-ast-grep-shim.sh
  typos.toml
Due: alejandra, statix, shellcheck, shfmt

fix(direnv): stop DIRENV_DIFF aborting shells that run under set -u
  shell/bash/direnv-export.sh
Due: shellcheck, shfmt

fix(build-cache): stop deleting a live sccache cache on every activation
  home/modules/build-cache-maintenance.nix
Due: alejandra, statix

fix(build-cache): drop the sccache activation hook; home-manager does not own sccache
  home/modules/build-cache-maintenance.nix
Due: alejandra, statix

feat(shell): adopt direnv-instant and guarded rebase recovery
  config/codex/hooks/swarm-messages.mjs
  flake.lock
  flake.nix
  home/modules/shell.nix
  nix/bootstrap.sh
  scripts/repo-vcs.sh
  scripts/test-repo-vcs.sh
  scripts/test-stable-shell-path.mjs
Due: alejandra, statix, shellcheck, shfmt

fix(shell): keep direnv instant outside multiplexers
  flake.nix
  home/modules/shell.nix
  patches/direnv-instant-async-without-multiplexer.patch
  scripts/test-stable-shell-path.mjs
Due: alejandra, statix

fix(codex): remove stale mise ownership
  config/mise/config.toml
  home/home.nix
  scripts/test-swarm-hook-config.mjs
Due: alejandra, statix

fix(nix): replace deprecated system attribute
  home/modules/shell.nix
  scripts/test-stable-shell-path.mjs
Due: alejandra, statix

fix(shell): remove duplicate direnv work and warnings
  flake.nix
  home/modules/activation.nix
  home/modules/stable-shell.nix
  scripts/test-jcode-lane-settle-retirement.mjs
  scripts/test-nix-tooling.mjs
  scripts/test-stable-shell-path.mjs
  shell/bash/direnv-export.sh
Due: alejandra, statix, shellcheck, shfmt

fix(direnv): stop a frozen dump PATH from stripping caller tool dirs
  scripts/test-stable-shell-path.mjs
  shell/bash/direnv-export.sh
Due: shellcheck, shfmt

feat(ai-tools): own codex from llm-agents on x86_64-linux
  home/modules/ai-tools.nix
Due: alejandra, statix

test(nix-tooling): scan home.packages across ++ optionals segments
  scripts/test-nix-tooling.mjs
Due: none

fix(shell): restore caller PATH after direnv-instant applies
  home/modules/shell.nix
  scripts/test-stable-shell-path.mjs
  shell/bash/direnv-instant-guard.sh
Due: alejandra, statix, shellcheck, shfmt

fix(shell): make the secret loaders untraceable
  scripts/repo-check.sh
  scripts/test-sops-trace-guard.mjs
  shell/bash/bashrc
  shell/bash/direnv-export.sh
  shell/bash/otel-env.sh
Due: shellcheck, shfmt

feat(jcode): allow direct fallback providers
  home/modules/ai-tools.nix
Due: alejandra, statix

fix(backup): serialize mutable home sweeps
  home/modules/git-auto-backup.nix
  home/modules/home-emergency-backup.nix
  scripts/test-nix-tooling.mjs
Due: alejandra, statix

refactor(ai-tools): remove claude-minimax, copilot-minimax, vtcode-minimax
  home/modules/ai-tools.nix
Due: alejandra, statix

refactor(ai-tools): remove remaining llm-gateway CLI wrappers
  home/modules/ai-tools.nix
Due: alejandra, statix

refactor(ai-tools): remove the bare copilot wrapper and its stale tests
  home/modules/ai-tools.nix
  scripts/test-swarm-hook-config.mjs
Due: alejandra, statix

fix(ssh): disable ControlPersist for Forgejo and GitHub before Host *
  config/ssh_config
  scripts/repo-vcs.sh
Due: shellcheck, shfmt

Keep jcode install_release as PATH launcher on the swarm host; point the fleet watchdog at castle and calendar-catch the timer.
  home/modules/ai-tools.nix
  home/modules/jcode-server.nix
  scripts/test-nix-tooling.mjs
Due: alejandra, statix

fix(devbox): bound unscoped nix-store greps and reap abandoned agent searches
  config/ripgreprc
  home/home.nix
  home/modules/reap-abandoned-searches.nix
  scripts/reap-abandoned-searches.sh
Due: alejandra, statix, shellcheck, shfmt

fix(swarm-hook): stop the state lock timing out on the stable-shell wrapper
  config/codex/hooks/swarm-messages.mjs
Due: none

secrets: drop ALIBABA_TOKEN_PLAN_API_KEY and the ACE_WORKER alias
  config/opencode/opencode.json
  secrets/api-keys.yaml
  shell/bash/bashrc
Due: none

mise: pin ollama 0.32.14
  config/mise/config.toml
Due: none

feat(backup): stage borgmatic hot-source snapshots
  home/modules/home-emergency-backup.nix
  scripts/test-nix-tooling.mjs
Due: alejandra, statix

feat(backup): enable borgmatic hot-source snapshots
  home/home.nix
  home/modules/home-emergency-backup.nix
  scripts/test-nix-tooling.mjs
Due: alejandra, statix

fix(backup): initialize and retain hot-source repositories
  home/modules/home-emergency-backup.nix
  scripts/test-nix-tooling.mjs
Due: alejandra, statix

fix(backup): retain hot-source borgmatic wiring and tests.
  home/modules/home-emergency-backup.nix
  scripts/test-nix-tooling.mjs
  secrets/api-keys.yaml
Due: alejandra, statix

fix(secrets): restore sops MAC after hot-source rebase.
  secrets/api-keys.yaml
Due: none

fix(secrets): add borg hot-source passphrase without breaking the sops MAC.
  secrets/api-keys.yaml
Due: none

fix(home): scope fleet sccache to devbox
  docs/work/2026-08-26-sccache-profile-scope/README.md
  docs/work/2026-08-26-sccache-profile-scope/current-spec.snapshot.json
  docs/work/2026-08-26-sccache-profile-scope/evidence/.gitkeep
  docs/work/2026-08-26-sccache-profile-scope/purpose.contract.json
  docs/work/2026-08-26-sccache-profile-scope/validation.report.json
  docs/work/2026-08-26-sccache-profile-scope/work.spec.json
  home/modules/build-cache-maintenance.nix
  home/modules/files.nix
  scripts/repo-check.sh
  scripts/test-sccache-profile-scope.sh
Due: alejandra, statix, shellcheck, shfmt

fix(home): scope fleet sccache to the swarm devbox.
  scripts/test-nix-tooling.mjs
Due: none

Path conditions:
  alejandra: any of: *.nix
  statix: any of: *.nix
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
