Repository mikkihugo/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: alejandra, statix, shellcheck, shfmt

alejandra:
  run: alejandra --check {staged_files}

statix:
  run: statix check {staged_files}

shellcheck:
  run: shellcheck --external-sources {staged_files}

shfmt:
  run: shfmt -d {staged_files}

Fix: openclaw-node service credentials passing via sops
  .letta/.lettaignore
  home/modules/openclaw.nix
  tools/secret-web/README.md
  tools/secret-web/index.html
  tools/secret-web/package.json
  tools/secret-web/server.mjs
  tools/secret-web/src/App.tsx
  tools/secret-web/src/main.tsx
  tools/secret-web/src/styles.css
  tools/secret-web/tsconfig.json
  tools/secret-web/vite.config.ts
Due: alejandra, statix

fix(hm): gate embedding worker on hostname=mikki-bunker not just x86_64
  flake.nix
  home/home.nix
Due: alejandra, statix

fix(files): add ace-coder lefthook.yml as Nix-managed home.file (auto-repairs after GC)
  home/modules/files.nix
Due: alejandra, statix

revert: remove ace-coder lefthook.yml from home.file (not Nix-managed)
  home/modules/files.nix
Due: alejandra, statix

openclaw: update to port 18789 via nginx SSL, always update to latest on hms
  home/modules/activation.nix
  home/modules/openclaw.nix
Due: alejandra, statix

openclaw: fix openclaw-setup alias port 443 → 18789
  home/modules/shell.nix
Due: alejandra, statix

secrets: add gmail imap credentials
  secrets/api-keys.yaml
Due: none

add personal-admin SSH key and hcloud token for personal servers
  config/ssh_config
  home/modules/activation.nix
  secrets/api-keys.yaml
  secrets/personal-servers-ssh.yaml
Due: alejandra, statix

add storagebox SSH config entry
  config/ssh_config
Due: none

bunker: fix managedWorkerKind combined + promote ace-coder to 33c5f13e
  flake.lock
  services/ace-embedding-worker/default.nix
Due: alejandra, statix

use personal_admin_id_ed25519 for wf.portal instead of separate key
  config/ssh_config
Due: none

remove wf-portal-ssh.yaml — superseded by personal_admin_id_ed25519
  secrets/wf-portal-ssh.yaml
Due: none

remove aidev from nix binary cache substituters
  config/nix/nix.conf
Due: none

skip openclaw reinstall if already at latest version
  home/modules/activation.nix
Due: alejandra, statix

bunker: one combined worker, remove separate embedding service
  services/ace-embedding-worker/default.nix
Due: alejandra, statix

chore: remove dead code and fix nix lint warnings
  flake.nix
  home-manager/home.nix
  home/modules/files.nix
  home/modules/git.nix
  home/modules/shell.nix
Due: alejandra, statix

Remove Claude Code OAuth token from SOPS secrets and bashrc
  secrets/api-keys.yaml
  shell/bash/bashrc
Due: none

Remove Claude Code OAuth token docs from SOPS_USAGE.md
  SOPS_USAGE.md
Due: none

services: add backup + mail-ingest helpers
  services/backup-scripts/datanode-db-backup.sh
  services/backup-scripts/openclaw-backup.sh
  services/mail-ingest/dovecot-ingest-maildir.py
  services/mail-ingest/dovecot-ingest-wrap.sh
  services/mail-ingest/lightrag-ingest-gmail.py
  services/mail-ingest/vault-to-lightrag.sh
Due: shellcheck, shfmt

secrets: add Cerebras API key for fast compaction
  secrets/api-keys.yaml
Due: none

fix codex mcp scope and harden openclaw activation
  config/codex/config.toml
  home/modules/activation.nix
Due: alejandra, statix

secrets: mirror lldap + authelia bootstrap secrets
  secrets/api-keys.yaml
Due: none

secrets: mhugo ssh keypair in SOPS (uploaded to lldap sshPublicKey attr)
  .secrets.baseline
  secrets/api-keys.yaml
Due: none

services/ssh-key-rotate: monthly ed25519 rotation
  services/ssh-key-rotate/README.md
  services/ssh-key-rotate/rotate.service
  services/ssh-key-rotate/rotate.sh
  services/ssh-key-rotate/rotate.timer
Due: shellcheck, shfmt

ssh-rotate: keep last 2 pubkeys in lldap (overlap window for bunker + other machines)
  services/ssh-key-rotate/rotate.sh
Due: shellcheck, shfmt

secret-tui: TODO to migrate vault.hugo.dk → Authelia OIDC device flow
  tools/secret-tui-rust/src/vault.rs
Due: none

skills: add comprehensive agent skill library + fix typos and formatting
  .gemini/skills/automation/SKILL.md
  .gemini/skills/backups/SKILL.md
  .gemini/skills/declarative-os/SKILL.md
  .gemini/skills/github/SKILL.md
  .gemini/skills/gitops/SKILL.md
  .gemini/skills/kubernetes/SKILL.md
  .gemini/skills/llm-ops/SKILL.md
  .gemini/skills/network-mesh/SKILL.md
  .gemini/skills/openclaw-coding/SKILL.md
  .gemini/skills/security-stack/SKILL.md
  .gemini/skills/vault/SKILL.md
  home/modules/activation.nix
  home/modules/machine-agent.nix
  home/modules/machine-role.nix
  typos.toml
Due: alejandra, statix

skills: update terminology to use OpenBae and remove HashiCorp references
  .gemini/skills/automation/SKILL.md
  .gemini/skills/vault/SKILL.md
  typos.toml
Due: none

skills: prioritize second opinions and peer review in openclaw-coding
  .gemini/skills/openclaw-coding/SKILL.md
Due: none

packages: add uv (provides uvx) for Serena MCP plugin
  home/modules/packages.nix
Due: alejandra, statix

tailscale: join laptop + bunker to headscale via dotfiles
  bootstrap/steps/40-tailscale.sh
  home/home.nix
  home/modules/tailscale.nix
  secrets/api-keys.yaml
Due: alejandra, statix, shellcheck, shfmt

tailscale: move join to bootstrap (sudo) — hm activation can't sudo, systemctl-from-nix doesn't see system daemon
  bootstrap/steps/40-tailscale.sh
  home/modules/tailscale.nix
Due: alejandra, statix, shellcheck, shfmt

bootstrap: NOPASSWD sudo + collapse tailscale into hm activation
  NEW_MACHINE_SETUP.md
  bootstrap/steps/02-sudoers.sh
  bootstrap/steps/40-tailscale.sh
  home/modules/tailscale.nix
Due: alejandra, statix, shellcheck, shfmt

hermes: add home-manager proxy module + flake input
  flake.lock
  flake.nix
  home/modules/hermes-proxy.nix
Due: alejandra, statix

fix: make hostname check case-insensitive for worker service import
  home/home.nix
Due: alejandra, statix

Update Hermes bootstrap and documentation; sync role/config behavior
  .direnv/flake-profile
  .direnv/flake-profile-2-link
  bootstrap/steps/05-machine-setup.sh
  bootstrap/steps/30-post.sh
  config/ssh_config
  docs/SYSTEM_DOCUMENTATION.md
  home/modules/activation.nix
Due: alejandra, statix, shellcheck, shfmt

hermes: switch proxy to private API hostname
  flake.lock
  home/modules/activation.nix
  home/modules/hermes-proxy.nix
  services/ace-embedding-worker/default.nix
Due: alejandra, statix

flake: update ace-coder after remote-worker fix
  flake.lock
Due: none

Path conditions:
  alejandra: any of: *.nix
  statix: any of: *.nix
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
