Repository mikkihugo/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: alejandra, statix, shellcheck, shfmt

alejandra:
  run: alejandra --check {staged_files}

statix:
  run: statix check {staged_files}

shellcheck:
  run: shellcheck --external-sources {staged_files}

shfmt:
  run: shfmt -d {staged_files}

chore: manage copilot with mise
  config/mise/config.toml
  home/home.nix
  home/modules/ai-tools.nix
  nix/README.md
  nix/bootstrap.sh
  nix/setup-repo.sh
Due: alejandra, statix, shellcheck, shfmt

chore: add gcloud, firebase-tools to mise; bump Copilot token limits
  config/mise/config.toml
  home/modules/ai-tools.nix
Due: alejandra, statix

ssh_config: add fi1, de1, aidev-new; document VectorDrive gap
  config/ssh_config
Due: none

ssh_config: enable VectorDrive servers (key now enrolled)
  config/ssh_config
Due: none

chore: switch to native claude, retire ace-embedding name, migrate inference-fabric to forgejo
  flake.lock
  flake.nix
  home/home.nix
  home/modules/activation.nix
  home/modules/ai-tools.nix
  home/modules/shell.nix
  services/remote-gpu-worker/default.nix
Due: alejandra, statix

chore(secrets): rotate XIAOMI_API_KEY, add top-level xiaomi entry
  secrets/api-keys.yaml
Due: none

chore: use ace key for aidev ssh
  config/ssh_config
Due: none

chore: update codex mise tool
  config/mise/config.toml
Due: none

fix: rename lyra ssh alias
  config/ssh_config
Due: none

chore: remove remote nix builder config
  config/mise/config.toml
  config/nix/local-build.nix.conf
  config/nix/remote-builder.nix.conf
  config/ssh_config
  flake.nix
  home/modules/files.nix
Due: alejandra, statix

chore: add automatic git backup timer
  home/home.nix
  home/modules/git-auto-backup.nix
Due: alejandra, statix

fix: make git dirty backups repeatable
  home/modules/git-auto-backup.nix
Due: alejandra, statix

Upgrade Nix to 26.05, remove old 25.11 references and run full GC
  config/mise/config.toml
  config/opencode/oh-my-opencode.json
Due: none

feat(home): set NIX_REMOTE=daemon + KUBECONFIG=~/.kube/config
  home/home.nix
Due: alejandra, statix

wezterm: merge vega tmux auto-attach into Carbon Orange config
  config/wezterm/wezterm.lua
Due: none

wezterm: add vega (ET) launch menu entry
  config/wezterm/wezterm.lua
Due: none

feat(home): pin 26.05 and manage local tools
  config/factory/settings.json
  config/mise/config.toml
  config/opencode/opencode.json
  flake.lock
  flake.nix
  home/home.nix
  home/modules/activation.nix
  home/modules/ai-tools.nix
  home/modules/files.nix
  home/modules/mise-auto-update.nix
  home/modules/packages.nix
  home/modules/shell.nix
  shell/bash/bashrc
  vtcode.toml
Due: alejandra, statix

feat(mise): add azure cli
  config/mise/config.toml
Due: none

chore(secrets): add alibaba token plan key
  secrets/api-keys.yaml
Due: none

chore(secrets): rotate XIAOMI_API_KEY
  secrets/api-keys.yaml
Due: none

feat(factory): default to MiniMax-M3 BYOK via minimax.io
  config/factory/settings.json
  flake.nix
  overlays/mise.nix
Due: alejandra, statix

chore: update local tool config
  .gitignore
  config/mise/config.toml
  config/ssh_config
  home/home.nix
  home/modules/activation.nix
  shell/bash/bashrc
Due: alejandra, statix

chore(agents): rename purpose skill
  config/agents/skills/purpose-first-tdd/SKILL.md
  config/agents/skills/using-skills/SKILL.md
Due: none

docs(skills): require durable design specs
  config/agents/skills/brainstorming/SKILL.md
  config/agents/skills/brainstorming/spec-document-reviewer-prompt.md
  config/agents/skills/executing-plans/SKILL.md
  config/agents/skills/subagent-driven-development/SKILL.md
  config/agents/skills/writing-plans/SKILL.md
  config/agents/skills/writing-plans/plan-document-reviewer-prompt.md
Due: none

docs: clarify spec naming skill
  config/agents/skills/brainstorming/SKILL.md
Due: none

docs(agents): enforce git work hygiene
  config/agents/AGENTS.md
  config/agents/skills/using-git-worktrees/SKILL.md
  home/modules/files.nix
Due: alejandra, statix

feat(ai-tools): route copilot-all through umans.ai for GLM, Kimi, and flash
  home/modules/ai-tools.nix
  secrets/api-keys.yaml
Due: alejandra, statix

fix(ai-tools): correct COPILOT_PROVIDER_MAX_PROMPT_TOKENS to 405504
  home/modules/ai-tools.nix
Due: alejandra, statix

feat(ai-tools): enable auto-routing in copilot-all wrapper
  home/modules/ai-tools.nix
Due: alejandra, statix

skills: add compiler-directed fast path and phase awareness
  config/agents/skills/systematic-debugging/SKILL.md
  config/agents/skills/test-driven-development/SKILL.md
  config/agents/skills/using-skills/SKILL.md
Due: none

feat: add cross-CLI lifecycle hooks (8 events, 4 CLIs)
  config/agents/hooks/dispatch.mjs
  config/agents/hooks/hooks.json
  config/agents/hooks/kimi-hooks.toml
  config/agents/hooks/post-tool-use.mjs
  config/agents/hooks/pre-compact.mjs
  config/agents/hooks/pre-tool-use.mjs
  config/agents/hooks/session-start.mjs
  config/agents/hooks/stop.mjs
  config/agents/hooks/subagent-start.mjs
  config/agents/hooks/subagent-stop.mjs
  config/agents/hooks/user-prompt-submit.mjs
  config/agents/redteam/kimi.plugin.json
Due: none

feat: add Copilot CLI extension (redteam tools + session hooks)
  config/agents/copilot-extension/extension.mjs
Due: none

feat: set --rate-limit-per-minute 60 for copilot-all proxy
  home/modules/ai-tools.nix
Due: alejandra, statix

sf-debug-scan: fix stale pod name, broken events query; sync skills to all agents
  config/agents/skills/sf-debug-scan/SKILL.md
  home/modules/files.nix
Due: alejandra, statix

feat(copilot-all): auto-patch BYOK model selector to show all proxy models
  home/modules/ai-tools.nix
Due: alejandra, statix

refactor(copilot-all): route through in-cluster sidecar instead of spawning local proxy
  home/modules/ai-tools.nix
Due: alejandra, statix

chore(dotfiles): housekeeping — broader node_modules ignore, sf-debug-scan MCP-first, kimi-code token cap, redteam plugin deps
  .gitignore
  config/agents/skills/sf-debug-scan/SKILL.md
  config/mise/config.toml
  home/modules/activation.nix
Due: alejandra, statix

Path conditions:
  alejandra: any of: *.nix
  statix: any of: *.nix
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
