Repository mikkihugo/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: alejandra, statix, shellcheck, shfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    alejandra:
      glob: "*.nix"
      run: alejandra --check {staged_files}

    statix:
      glob: "*.nix"
      run: statix check {staged_files}

    shellcheck:
      glob: "*.sh"
      run: shellcheck --external-sources {staged_files}

    shfmt:
      glob: "*.sh"
      run: shfmt -d {staged_files}

    typos:
      run: typos {staged_files}

    detect-secrets:
      exclude: \.secrets\.baseline$
      run: detect-secrets-hook --baseline .secrets.baseline {staged_files}

test(jcode): cover direct provider allowlist
  scripts/test-nix-tooling.mjs
Due: none

fix(jcode): keep login OAuth-only
  home/modules/ai-tools.nix
  scripts/test-nix-tooling.mjs
Due: alejandra, statix

fix(jcode): reject duplicate login providers
  home/modules/ai-tools.nix
  scripts/test-nix-tooling.mjs
Due: alejandra, statix

fix(jcode): reject mixed login provider forms
  home/modules/ai-tools.nix
  scripts/test-nix-tooling.mjs
Due: alejandra, statix

fix(shell): NixOS owns interactive direnv on the swarm host.
  home/modules/shell.nix
  scripts/repo-check.sh
  scripts/test-nix-tooling.mjs
  scripts/test-stable-shell-path.mjs
Due: alejandra, statix, shellcheck, shfmt

fix(shell): NixOS owns interactive direnv on the swarm host.
  scripts/test-stable-shell-path.mjs
Due: none

feat(nix-gc-sweep): daily prune of stale nix-direnv gc roots
  home/home.nix
  home/modules/nix-gc-sweep.nix
Due: alejandra, statix

feat(shell): add standard hm* home-manager subcommand aliases
  home/modules/shell.nix
Due: alejandra, statix

feat(packages): add nix-bloat for closure-size triage
  home/modules/packages.nix
Due: alejandra, statix

feat(flake): add formatter (nixfmt) output
  flake.nix
  home/modules/packages.nix
Due: alejandra, statix

feat(flake): add named checks.{format,statix-check,deadnix-check}
  flake.nix
Due: alejandra, statix

refactor(flake): share one nixpkgs per system across all outputs
  flake.nix
Due: alejandra, statix

feat(home): enable kimi-code experimental flags
  home/home.nix
Due: alejandra, statix

fix(mise): unbreak mise-auto-update timer
  config/mise/config.toml
Due: none

Stop nix-direnv from GC-rooting every flake input.
  home/modules/nix-gc-sweep.nix
  home/modules/shell.nix
  home/patches/nix-direnv-3.2.0-no-flake-input-gcroots.patch
  scripts/repo-check.sh
  scripts/test-nix-direnv-no-flake-input-gcroots.mjs
Due: alejandra, statix, shellcheck, shfmt

feat(copilot): enable dynamic retrieval and fleet deferTools
  AGENTS.md
  config/copilot/settings.json
  config/mise/config.toml
  home/modules/activation.nix
  scripts/test-stable-shell-path.mjs
  shell/bash/direnv-export.sh
Due: alejandra, statix, shellcheck, shfmt

fix(check): skip mikki-bunker sccache eval without ace-coder
  scripts/test-nix-tooling.mjs
  scripts/test-sccache-profile-scope.sh
Due: shellcheck, shfmt

fix(home): drop GPU worker and ace-coder flake input
  AGENTS.md
  README.md
  docs/SYSTEM_DOCUMENTATION.md
  flake.lock
  flake.nix
  home/home.nix
  home/modules/shell.nix
  scripts/promote-ace-coder-input
  scripts/test-nix-tooling.mjs
  scripts/test-sccache-profile-scope.sh
  scripts/test-stable-shell-path.mjs
  services/remote-gpu-worker/default.nix
Due: alejandra, statix, shellcheck, shfmt

feat(copilot): wire BYOK to the LLM gateway and add per-model wrappers
  config/copilot/settings.json
  shell/bash/bashrc
Due: none

copilot BYOK: pin MiniMax-M3 token budget for auto-minimax
  config/copilot/settings.json
  home/modules/engine-worktree-cleanup.nix
  shell/bash/bashrc
Due: alejandra, statix

vcs: add converge-main for a diverged main
  just/vcs.just
  scripts/repo-vcs.sh
Due: shellcheck, shfmt

copilot: use Anthropic wire against the gateway, with the correct base URL
  shell/bash/bashrc
Due: none

copilot: align subagent routing to auto-* aliases
  config/copilot/settings.json
Due: none

fix(home-emergency-backup): use integer seconds for flock --wait; raise hot-source RuntimeMaxSec to 60min
  home/modules/git-auto-backup.nix
  home/modules/home-emergency-backup.nix
  scripts/test-nix-tooling.mjs
Due: alejandra, statix

fix(home-emergency-backup): exclude singularity-engine per-workspace cache dirs
  home/modules/home-emergency-backup.nix
  scripts/test-nix-tooling.mjs
Due: alejandra, statix

hms(remove): sccache is infra-owned via hosts/_shared/nix-cache.nix — drop HM module, cargo rustc-wrapper, and profile-scope test assertions
  home/home.nix
  home/modules/build-cache-maintenance.nix
  home/modules/files.nix
  scripts/test-sccache-profile-scope.sh
Due: alejandra, statix, shellcheck, shfmt

fix(backup): keep long SSH uploads alive on Hetzner Storage Box
  home/modules/home-emergency-backup.nix
  scripts/test-nix-tooling.mjs
Due: alejandra, statix

fix(codex): preserve GPT6 settings and bounded verification
  .purpose/commands.json
  AGENTS.md
  bin/repo
  config/codex/config.toml
  config/codex/shared-preferences.toml
  docs/work/2026-09-05-codex-gpt6-settings/README.md
  docs/work/2026-09-05-codex-gpt6-settings/current-spec.snapshot.json
  docs/work/2026-09-05-codex-gpt6-settings/evidence.bundle.json
  docs/work/2026-09-05-codex-gpt6-settings/evidence/.gitkeep
  docs/work/2026-09-05-codex-gpt6-settings/evidence/changed-files.json
  docs/work/2026-09-05-codex-gpt6-settings/evidence/codex-dotfiles-empty-arg-green.txt
  docs/work/2026-09-05-codex-gpt6-settings/evidence/codex-dotfiles-empty-arg-red.txt
  docs/work/2026-09-05-codex-gpt6-settings/evidence/codex-dotfiles-entry-green.txt
  docs/work/2026-09-05-codex-gpt6-settings/evidence/codex-dotfiles-entry-red.txt
  docs/work/2026-09-05-codex-gpt6-settings/evidence/codex-dotfiles-settings-green.txt
  docs/work/2026-09-05-codex-gpt6-settings/evidence/codex-dotfiles-settings-red.txt
  docs/work/2026-09-05-codex-gpt6-settings/evidence/source-proof.json
  docs/work/2026-09-05-codex-gpt6-settings/evidence/takeover-entry-fixture-red.txt
  docs/work/2026-09-05-codex-gpt6-settings/evidence/takeover-full-green.txt
  docs/work/2026-09-05-codex-gpt6-settings/evidence/takeover-full-red.txt
  docs/work/2026-09-05-codex-gpt6-settings/evidence/takeover-independent-review.md
  docs/work/2026-09-05-codex-gpt6-settings/evidence/takeover-post-format-entry.txt
  docs/work/2026-09-05-codex-gpt6-settings/evidence/takeover-preflight.json
  docs/work/2026-09-05-codex-gpt6-settings/evidence/takeover-red-result.json
  docs/work/2026-09-05-codex-gpt6-settings/evidence/takeover-resident-default-red.txt
  docs/work/2026-09-05-codex-gpt6-settings/evidence/takeover-result.json
  docs/work/2026-09-05-codex-gpt6-settings/evidence/takeover-state.json
  docs/work/2026-09-05-codex-gpt6-settings/evidence/takeover-vcs-status.txt
  docs/work/2026-09-05-codex-gpt6-settings/purpose.contract.json
  docs/work/2026-09-05-codex-gpt6-settings/validation.report.json
  docs/work/2026-09-05-codex-gpt6-settings/work.spec.json
  scripts/codex-preferences
  scripts/repo-check-nix.sh
  scripts/repo-check.sh
  scripts/test-codex-hosted-search.mjs
  scripts/test-codex-preferences.py
  scripts/test-repo-check-entry.py
  scripts/test-repo-vcs.sh
Due: shellcheck, shfmt

fix(mise): pin host Rust toolchain to 1.95
  config/mise/config.toml
Due: none

test(dotfiles): isolate Nix check fixture cwd
  2nprintf
  scripts/test-repo-check-entry.py
Due: none

chore(dotfiles): remove accidental fixture artifact
  2nprintf
Due: none

fix(dotfiles): force host Rust entrypoints to 1.95
  home/home.nix
  home/modules/rustup-toolchain-wrapper.sh
  home/modules/rustup-toolchain-wrappers.nix
  scripts/repo-check.sh
  scripts/test-rustup-toolchain-wrappers.mjs
Due: alejandra, statix, shellcheck, shfmt

fix(dotfiles): force host Rust entrypoints to 1.95
  home/modules/rustup-toolchain-wrapper.sh
  home/modules/rustup-toolchain-wrappers.nix
  scripts/test-rustup-toolchain-wrappers.mjs
Due: alejandra, statix, shellcheck, shfmt

fix(dotfiles): force host Rust entrypoints to 1.95
  home/modules/rustup-toolchain-wrapper.sh
  scripts/test-rustup-toolchain-wrappers.mjs
Due: shellcheck, shfmt

fix(backup): include engine jj git store in hot-source backup
  home/modules/home-emergency-backup.nix
Due: alejandra, statix

fix(backup): exclude .cache by anchored regex so the engine jj store source root is backed up
  home/modules/home-emergency-backup.nix
Due: alejandra, statix

chore(jj): bump jujutsu to 0.45.1 (colocated duplicateEntries fix)
  flake.lock
  flake.nix
  home/modules/git.nix
Due: alejandra, statix

fix(jj): scoped trunk() = main@forgejo for singularity-engine
  home/modules/git.nix
Due: alejandra, statix

fix(systemd): janitor ReadWritePaths tolerate a missing runtime dir; ledger snapshot follows the engine state root
  home/modules/git-auto-backup.nix
Due: alejandra, statix

fix(jj): drop accidental global trunk()=main; keep only the engine scope
  home/modules/git.nix
Due: alejandra, statix
