Repository mikkihugo/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: alejandra, statix, shellcheck, shfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    alejandra:
      glob: "*.nix"
      run: alejandra --check {staged_files}

    statix:
      glob: "*.nix"
      run: statix check {staged_files}

    shellcheck:
      glob: "*.sh"
      run: shellcheck --external-sources {staged_files}

    shfmt:
      glob: "*.sh"
      run: shfmt -d {staged_files}

    typos:
      run: typos {staged_files}

    detect-secrets:
      exclude: \.secrets\.baseline$
      run: detect-secrets-hook --baseline .secrets.baseline {staged_files}

chore(nix): run deadnix + statix + alejandra
  home/modules/files.nix
  home/modules/machine-agent.nix
Due: alejandra, statix

nix: use local builds on bunker and laptop
  config/nix/local-build.nix.conf
  config/nix/remote-builder.nix.conf
  flake.lock
Due: none

flake: update ace-coder after worker response fix
  flake.lock
Due: none

hermes: always-TUI wrapper pointing at api.hugo.dk/hermes
  config/wezterm/wezterm.lua
  home/home.nix
  home/modules/hermes-tui.nix
  home/modules/machine-role.nix
  home/modules/tailscale.nix
  home/modules/wezterm.nix
Due: alejandra, statix

tools: ai-tools + ops-tools nix modules with auto-update
  bootstrap/steps/25-sops-setup.sh
  config/ssh_config
  home/home.nix
  home/modules/ai-tools.nix
  home/modules/dotfiles-auto-update.nix
  home/modules/openclaw.nix
  home/modules/ops-tools.nix
Due: alejandra, statix, shellcheck, shfmt

adr: ADR-001 forbid CLAUDE.md, require ADR-first standards
  CLAUDE.md
  docs/adr/001-no-claude-md.md
Due: none

adr: ADR-002 rust tools, ADR-003 dotfiles mgmt, ADR-004 secrets
  docs/adr/002-rust-tools.md
  docs/adr/003-dotfiles-management.md
  docs/adr/004-secrets-management.md
Due: none

adr: ADR-005 machine-agent Go+tsnet narrow RPC design
  docs/adr/005-machine-agent-go.md
  home/modules/wezterm.nix
Due: alejandra, statix

feat(machine-agent): Go scaffold — WSS tunnel + constrained exec
  docs/adr/005-machine-agent-go.md
  tools/machine-agent/cmd/machine-agent/dispatch.go
  tools/machine-agent/cmd/machine-agent/main.go
  tools/machine-agent/go.mod
  tools/machine-agent/go.sum
  tools/machine-agent/internal/service/allowlist.go
  tools/machine-agent/internal/tunnel/wss.go
  tools/machine-agent/proto/agent.proto
Due: none

fix(hm): pin ace-coder, seed supervisor-only, remote-build on llm-gateway
  flake.lock
  flake.nix
  home/modules/files.nix
  services/ace-embedding-worker/default.nix
Due: alejandra, statix

fix(worker): use cuda-sm89 not cpu-static — bunker is an RTX 4080 host
  services/ace-embedding-worker/default.nix
Due: alejandra, statix

chore(worker): drop managedWorkerKind — director routes by hostname now
  services/ace-embedding-worker/default.nix
Due: alejandra, statix

chore(flake): bump ace-coder pin to 58b7a9040 (supervisor sd_notify + routing rip)
  flake.lock
  flake.nix
Due: alejandra, statix

shell: source hm-session-vars in interactive shells
  home/modules/shell.nix
Due: alejandra, statix

hermes: enable proxy + expose CLI, bump flake, add gateway key
  flake.lock
  home/modules/hermes-proxy.nix
  secrets/api-keys.yaml
Due: alejandra, statix

ssh: explicit llm-gateway key usage + FQDN match
  config/ssh_config
Due: none

worker: switch bunker to tiny supervisor-only bundle
  services/ace-embedding-worker/default.nix
Due: alejandra, statix

ssh: use hetzner_ace for llm-gateway (id_ed25519 not authorized)
  config/ssh_config
Due: none

secrets(sf): add mistral+xiaomi+opencode-go, drop stale keys
  secrets/api-keys.yaml
Due: none

bao: point BAO_ADDR at app.hugo.dk/vault
  home/home.nix
  home/modules/packages.nix
Due: alejandra, statix

chore: sync dotfiles updates
  2026-04-19-215527-claude.txt
  bootstrap/steps/15-sops-preflight.sh
  config/ssh_config
  config/wezterm/wezterm.lua
  home/home.nix
  home/modules/activation.nix
  home/modules/ai-tools.nix
  home/modules/hermes-tui.nix
  home/modules/machine-role.nix
  home/modules/packages.nix
  home/modules/shell.nix
  home/modules/tailscale.nix
Due: alejandra, statix, shellcheck, shfmt

fix(secrets): sync xiaomi provider keys
  scripts/sync-openclaw-gateway-secrets
Due: none

fix(home): repair activation path and sops recovery
  home/modules/activation.nix
  services/ace-embedding-worker/default.nix
Due: alejandra, statix

ssh: merge upstream bunker entries + keep headscale docs and mikki-bunker fix
  config/ssh_config
Due: none

ssh: rename bunker-windows alias to mikki-bunker-windows, keep mikki-bunker for wsl
  config/ssh_config
Due: none

ssh: remove stale Host bunker entry
  config/ssh_config
Due: none

ssh: use direct hostnames, no aliases for bunker nodes
  config/ssh_config
Due: none

ssh: mikki-bunker -> wsl, mikki-bunker-windows -> windows
  config/ssh_config
Due: none

ssh: update bunker hostnames to desired tailscale names
  config/ssh_config
Due: none

fix(dotfiles): resolve hms conflicts, add kustomize
  home/modules/ai-tools.nix
  home/modules/hermes-tui.nix
  home/modules/ops-tools.nix
Due: alejandra, statix

fix(ssh): use mon direct IP for SSH
  config/ssh_config
Due: none

fix(ssh): replace mail.hugo.dk with jump.hugo.dk; migrate ai-tools to llm-agents.nix
  SOPS_USAGE.md
  config/nix/local-build.nix.conf
  config/nix/remote-builder.nix.conf
  config/ssh_config
  flake.lock
  flake.nix
  home/modules/activation.nix
  home/modules/ai-tools.nix
  home/modules/files.nix
  home/modules/hermes-tui.nix
  secrets/api-keys.yaml
  shell/bash/bashrc
Due: alejandra, statix

fix(ssh): switch ai/vpn/jump hosts to personal_admin key
  config/ssh_config
Due: none

ssh: add dev1 host with personal_admin key
  config/ssh_config
Due: none

ai-tools: disable amp wrapper until amp/token added to api-keys.yaml
  home/modules/ai-tools.nix
Due: alejandra, statix

sops: set top-level age.keyFile + defaultSopsFile
  home/home.nix
Due: alejandra, statix

ai-tools: skip goose-cli build (heavy Rust rebuild blocks hms)
  home/modules/ai-tools.nix
Due: alejandra, statix

ai-tools: also disable codex on aarch64 (numtide cache is x86_64-only)
  home/modules/ai-tools.nix
Due: alejandra, statix

secrets/api-keys: add cloudflare global key
  secrets/api-keys.yaml
Due: none

ssh_config: rigel/lyra/vega canonical aliases + use rigel public IP
  .codex
  config/ssh_config
Due: none
