Repository mikkihugo/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: alejandra, statix, shellcheck, shfmt

alejandra:
  run: alejandra --check {staged_files}

statix:
  run: statix check {staged_files}

shellcheck:
  run: shellcheck --external-sources {staged_files}

shfmt:
  run: shfmt -d {staged_files}

ops-tools: add flarectl for Cloudflare DNS management
  home/modules/ops-tools.nix
Due: alejandra, statix

shell/bashrc: load Cloudflare creds from sops api-keys.yaml
  shell/bash/bashrc
Due: none

scripts/fetch-kubeconfig: pull k3s kubeconfig for off-cluster kubectl
  home/modules/shell.nix
  scripts/fetch-kubeconfig
Due: alejandra, statix

secrets/api-keys: add twilio section for OnCall paging fallback
  secrets/api-keys.yaml
Due: none

secrets/api-keys: add twilio test credentials sibling pair
  secrets/api-keys.yaml
Due: none

fix(shell): prefer mise node
  home/modules/packages.nix
  shell/bash/bashrc
Due: alejandra, statix

fix(home): make uv tool activation idempotent
  home/modules/activation.nix
Due: alejandra, statix

Fix dotfiles Home Manager entrypoint
  bootstrap/steps/20-home-manager.sh
  config/mise/config.toml
  home/modules/activation.nix
  home/modules/files.nix
  home/modules/shell.nix
  install.sh
Due: alejandra, statix, shellcheck, shfmt

Update dotfiles baseline
  .vtcode/README.md
  .vtcode/history/session-dotfiles-20260429T020957.memory.json
  .vtcode/history/session-dotfiles-20260429T021955.memory.json
  .vtcode/history/session-dotfiles-20260429T030150.memory.json
  .vtcode/history/session-dotfiles-20260429T031446.memory.json
  .vtcode/history/session-dotfiles-20260429T034046.memory.json
  .vtcode/logs/trajectory-20260429T021514Z.jsonl
  .vtcode/logs/trajectory-20260429T024049Z.jsonl
  .vtcode/logs/trajectory-20260429T031446Z.jsonl
  .vtcode/logs/trajectory-20260429T034046Z.jsonl
  .vtcode/logs/trajectory.jsonl
  .vtcode/state/background_subagents.json
  .vtcode/terminals/INDEX.md
  .vtcode/tool-policy.json
  SOPS_USAGE.md
  config/nix/local-build.nix.conf
  config/nix/remote-builder.nix.conf
  config/opencode/opencode.json
  config/ssh_config
  flake.nix
  home/modules/ai-tools.nix
  rule-tests/examples/no-console-log-test.yml
  rules/examples/no-console-log.yml
  secrets/api-keys.yaml
  secrets/github-ssh.yaml
  sgconfig.yml
  shell/bash/bashrc
  vtcode.toml
Due: alejandra, statix

codex: sync shared model preferences across machines
  config/codex/config.toml
  config/codex/shared-preferences.toml
  flake.lock
  home/modules/activation.nix
  home/modules/files.nix
  home/modules/shell.nix
  scripts/codex-preferences
Due: alejandra, statix

cache: retry Home Manager attic push
  home/modules/activation.nix
Due: alejandra, statix

embedding-worker: switch supervisor binary to inference-fabric
  flake.lock
  flake.nix
  services/ace-embedding-worker/default.nix
Due: alejandra, statix

dotfiles: remove cloudflare workers relay
  tools/serverless-relays/README.md
  tools/serverless-relays/cloudflare/deploy.sh
  tools/serverless-relays/cloudflare/package.json
  tools/serverless-relays/cloudflare/src/index.js
  tools/serverless-relays/cloudflare/wrangler.toml
  tools/test-serverless-relay.sh
Due: shellcheck, shfmt

dotfiles: remove cloudflare tunnel tooling
  config/mise/config.toml
  docker/hugo-tunnel/docker-compose.yml
  docker/hugo-tunnel/start.sh
  docs/adr/004-secrets-management.md
  services/docker-compose.yml
  services/manage-tunnel.sh
  services/wrangler-config.json
Due: shellcheck, shfmt

dotfiles: update secret bootstrap docs
  .gitignore
  NEW_MACHINE_SETUP.md
  SOPS_USAGE.md
Due: none

dotfiles: remove generated shell completion
  .scripts/interactive/zellij-completion.bash
  NEW_MACHINE_SETUP.md
  home/modules/shell.nix
  shell/bash/bashrc
Due: alejandra, statix

dotfiles: remove stale local state files
  .codex
  .config/ops-hosts.conf
  .config/starship-clean.toml
  .gitignore
  .last-tool-update
  .last_commit
  .remote_hash
  .system-deps-installed
Due: none

dotfiles: clean stale secret discovery docs
  .gemini/skills/automation/SKILL.md
  .gemini/skills/backups/SKILL.md
  .gemini/skills/llm-ops/SKILL.md
  .gemini/skills/vault/SKILL.md
  tools/test-discovery
  typos.toml
Due: none

dotfiles: refresh workspace helpers
  .scripts/interactive/create-zellij-sessions.sh
  .scripts/interactive/simple-sessions.sh
  config/zellij/layouts/claude-dual.kdl
  services/litellm/Dockerfile.litellm
  services/litellm/Dockerfile.litellm-lite
  services/litellm/litellm-startup.sh
  services/litellm/test-litellm-container.sh
Due: shellcheck, shfmt

dotfiles: remove old litellm and zellij setup
  .config/fish/aliases.fish
  .scripts/interactive/create-zellij-sessions.sh
  .scripts/interactive/fzf-launcher.sh
  .scripts/interactive/ssh_login_zellij.sh
  README.md
  STRUCTURE.md
  config/opencode/opencode-mem.jsonc
  config/zellij/config.kdl
  config/zellij/layouts/claude-dual.kdl
  config/zellij/themes/nord.kdl
  home/modules/packages.nix
  profiles/default/links.json
  services/docker-compose.yml
  services/litellm/Dockerfile.litellm
  services/litellm/Dockerfile.litellm-lite
  services/litellm/download-gguf-models.sh
  services/litellm/litellm-startup.sh
  services/litellm/test-all-model-endpoints.sh
  services/litellm/test-github-models.sh
  services/litellm/test-google-models.sh
  services/litellm/test-litellm-container.sh
  tools/zj
Due: alejandra, statix, shellcheck, shfmt

dotfiles: remove old local vault stack
  .scripts/claude-oauth-force
  .scripts/interactive/fzf-launcher.sh
  .scripts/interactive/simple-sessions.sh
  STRUCTURE.md
  profiles/services/links.json
  services/docker-compose.yml
  services/vault-client/init.sql
  tools/vault-client/README.md
  tools/vault-client/vault-client.sh
  tools/vault-client/vault-env.sh
  tools/vault-client/vault_client.py
Due: shellcheck, shfmt

dotfiles: ignore vtcode runtime state
  .gitignore
  .vtcode/history/session-dotfiles-20260429T020957.memory.json
  .vtcode/history/session-dotfiles-20260429T021955.memory.json
  .vtcode/history/session-dotfiles-20260429T030150.memory.json
  .vtcode/history/session-dotfiles-20260429T031446.memory.json
  .vtcode/history/session-dotfiles-20260429T034046.memory.json
  .vtcode/logs/trajectory-20260429T021514Z.jsonl
  .vtcode/logs/trajectory-20260429T024049Z.jsonl
  .vtcode/logs/trajectory-20260429T031446Z.jsonl
  .vtcode/logs/trajectory-20260429T034046Z.jsonl
  .vtcode/logs/trajectory.jsonl
  .vtcode/state/background_subagents.json
  .vtcode/terminals/INDEX.md
Due: none

dotfiles: remove letta index config
  .gitignore
  .letta/.lettaignore
Due: none

dotfiles: remove unfinished machine agent
  README.md
  TODO.md
  bootstrap/steps/05-machine-setup.sh
  docs/SYSTEM_DOCUMENTATION.md
  docs/adr/005-machine-agent-go.md
  flake.nix
  home/home.nix
  home/modules/machine-agent.nix
  home/modules/machine-role.nix
  home/modules/packages.nix
  tools/machine-agent/cmd/machine-agent/dispatch.go
  tools/machine-agent/cmd/machine-agent/main.go
  tools/machine-agent/go.mod
  tools/machine-agent/go.sum
  tools/machine-agent/internal/service/allowlist.go
  tools/machine-agent/internal/tunnel/wss.go
  tools/machine-agent/proto/agent.proto
Due: alejandra, statix, shellcheck, shfmt

dotfiles: align openbao docs
  NEW_MACHINE_SETUP.md
  TODO.md
  docs/SYSTEM_DOCUMENTATION.md
  docs/adr/004-secrets-management.md
  home/modules/ops-tools.nix
Due: alejandra, statix

dotfiles: remove old service scripts
  TODO.md
  services/backup-scripts/datanode-db-backup.sh
  services/backup-scripts/openclaw-backup.sh
  services/mail-ingest/dovecot-ingest-maildir.py
  services/mail-ingest/dovecot-ingest-wrap.sh
  services/mail-ingest/lightrag-ingest-gmail.py
  services/mail-ingest/vault-to-lightrag.sh
Due: shellcheck, shfmt

dotfiles: remove unused ssh key rotator
  services/ssh-key-rotate/README.md
  services/ssh-key-rotate/rotate.service
  services/ssh-key-rotate/rotate.sh
  services/ssh-key-rotate/rotate.timer
Due: shellcheck, shfmt

dotfiles: remove orphaned gemini skills
  .gemini/skills/automation/SKILL.md
  .gemini/skills/backups/SKILL.md
  .gemini/skills/declarative-os/SKILL.md
  .gemini/skills/github/SKILL.md
  .gemini/skills/gitops/SKILL.md
  .gemini/skills/kubernetes/SKILL.md
  .gemini/skills/llm-ops/SKILL.md
  .gemini/skills/network-mesh/SKILL.md
  .gemini/skills/openclaw-coding/SKILL.md
  .gemini/skills/security-stack/SKILL.md
  .gemini/skills/vault/SKILL.md
Due: none

chore: use node 26 in mise
  config/mise/config.toml
Due: none

chore: remove openclaw node service
  bootstrap/steps/05-machine-setup.sh
  bootstrap/steps/30-post.sh
  docs/SYSTEM_DOCUMENTATION.md
  flake.nix
  home/home.nix
  home/modules/hermes-proxy.nix
  home/modules/machine-role.nix
  home/modules/openclaw.nix
Due: alejandra, statix, shellcheck, shfmt

chore: delete old openclaw artifacts
  .sops.yaml
  TODO.md
  config/ssh_config
  home/modules/activation.nix
  home/modules/shell.nix
  scripts/sync-openclaw-gateway-secrets
  secrets/openclaw-gw.yaml
Due: alejandra, statix

chore: install copilot cli via home-manager
  home/modules/ai-tools.nix
Due: alejandra, statix

fix: use github copilot cli package
  home/modules/ai-tools.nix
Due: alejandra, statix

fix: kimi provider — use api.kimi.com/v1 and kimi-k2 model
  config/factory/droids/scrutiny-feature-reviewer.md
  config/factory/droids/user-testing-flow-validator.md
  config/factory/droids/worker.md
  config/factory/settings.json
  home/modules/files.nix
  secrets/api-keys.yaml
Due: alejandra, statix

dotfiles: kimi model_discovery → kimi-k2.6 on api.moonshot.cn
  secrets/api-keys.yaml
Due: none

dotfiles: revert kimi base_url to api.kimi.com/v1
  secrets/api-keys.yaml
Due: none

dotfiles: BAO_ADDR -> kv.infra.centralcloud.com; drop Authelia (use Authentik)
  TODO.md
  config/factory/droids/scrutiny-feature-reviewer.md
  config/factory/droids/user-testing-flow-validator.md
  config/factory/droids/worker.md
  config/factory/settings.json
  config/ssh_config
  docs/SYSTEM_DOCUMENTATION.md
  docs/adr/004-secrets-management.md
  home/home.nix
  home/modules/ai-tools.nix
  home/modules/ops-tools.nix
  home/modules/packages.nix
  shell/bash/bashrc
Due: alejandra, statix

chore: make mise config mutable
  config/mise/config.toml
  home/modules/activation.nix
  home/modules/dotfiles-auto-update.nix
  home/modules/files.nix
Due: alejandra, statix

feat: add copilot kimi wrapper
  home/modules/ai-tools.nix
  secrets/api-keys.yaml
Due: alejandra, statix

Path conditions:
  alejandra: any of: *.nix
  statix: any of: *.nix
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
