Repository mikkihugo/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: alejandra, statix, shellcheck, shfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    alejandra:
      glob: "*.nix"
      run: alejandra --check {staged_files}

    statix:
      glob: "*.nix"
      run: statix check {staged_files}

    shellcheck:
      glob: "*.sh"
      run: shellcheck --external-sources {staged_files}

    shfmt:
      glob: "*.sh"
      run: shfmt -d {staged_files}

    typos:
      run: typos {staged_files}

    detect-secrets:
      exclude: \.secrets\.baseline$
      run: detect-secrets-hook --baseline .secrets.baseline {staged_files}

llm-gateway wrappers: try in-cluster Service before public edge
  home/modules/ai-tools.nix
Due: alejandra, statix

Add vtcode-minimax wrapper for llm-gateway BYOK
  home/modules/ai-tools.nix
Due: alejandra, statix

modernize Nix and mise toolchain
  .secrets.baseline
  bootstrap/steps/20-home-manager.sh
  config/codex/AGENTS.md
  config/mise/config.toml
  config/nix/local-build.nix.conf
  flake.nix
  home/modules/activation.nix
  home/modules/mise-auto-update.nix
  home/modules/packages.nix
  home/modules/shell.nix
  justfile
  overlays/mise.nix
  scripts/current-home-profile
  secrets/api-keys.yaml
  shell/bash/bashrc
Due: alejandra, statix, shellcheck, shfmt

stop rendering secrets into repositories
  home/modules/activation.nix
Due: alejandra, statix

home: manage just through Nix
  home/modules/packages.nix
Due: alejandra, statix

fix(shell): make source ~/.bashrc exit 0 for non-interactive shells
  home/modules/shell.nix
Due: alejandra, statix

backup: exclude repowise caches from borg emergency backups
  config/codex/config.toml
  home/modules/home-emergency-backup.nix
Due: alejandra, statix

chore(codex): refresh purpose agent instructions
  config/codex/AGENTS.md
Due: none

perf(nix): automate local cache maintenance
  config/nix/local-build.nix.conf
  home/home.nix
  home/modules/build-cache-maintenance.nix
Due: alejandra, statix

perf(sccache): add local WebDAV cache hierarchy
  home/modules/build-cache-maintenance.nix
Due: alejandra, statix

chore(codex): refresh purpose-agent instructions
  config/codex/AGENTS.md
Due: none

codex: improve v2 subagent lifecycle
  config/codex/AGENTS.md
  config/codex/config.toml
Due: none

fix(codex): consume current Engine Purpose Tool policy
  config/codex/AGENTS.md
  home/modules/files.nix
Due: alejandra, statix

feat(codex): configure v2 agent roles and current Purpose policy
  config/codex/AGENTS.md
  config/codex/agents/coder-fast.toml
  config/codex/agents/coder-smart.toml
  config/codex/agents/debugger.toml
  config/codex/agents/default.toml
  config/codex/agents/explorer.toml
  config/codex/agents/reviewer.toml
  config/codex/agents/singularity-engine-harvester.toml
  config/codex/agents/taxonomy-validator.toml
  config/codex/agents/taxonomy-worker.toml
  config/codex/agents/test-writer.toml
  config/codex/agents/verifier.toml
  config/codex/agents/web-researcher.toml
  config/codex/agents/worker.toml
  config/codex/config.toml
  config/mise/config.toml
  config/nix/local-build.nix.conf
  home/modules/activation.nix
  home/modules/files.nix
Due: alejandra, statix

feat(vcs): add guarded dotfiles facade
  config/codex/AGENTS.md
  just/vcs.just
  justfile
  scripts/repo-vcs.sh
  scripts/test-repo-vcs.sh
Due: shellcheck, shfmt

fix(vcs): publish dotfiles through bounded independent remotes
  scripts/repo-vcs.sh
Due: shellcheck, shfmt

fix(vcs): authenticate Forgejo HTTPS from tea credentials
  config/codex/agents/coder-fast.toml
  config/codex/agents/test-writer.toml
  scripts/repo-vcs.sh
Due: shellcheck, shfmt

fix(vcs): expose bounded GitHub publication fallback
  just/vcs.just
  scripts/repo-vcs.sh
Due: shellcheck, shfmt

chore(codex): enforce repository VCS facades
  config/codex/AGENTS.md
Due: none

feat(agents): persist primary swarm hooks
  config/claude/hooks/swarm-messages.sh
  config/codex/hooks.json
  config/codex/hooks/swarm-messages.mjs
  config/kimi-code/hooks/swarm-messages.sh
  home/modules/files.nix
Due: alejandra, statix, shellcheck, shfmt

fix(vcs): publish dotfiles to Forgejo over SSH
  scripts/repo-vcs.sh
Due: shellcheck, shfmt

fix(shell): point Cursor SHELL at store-backed stable bash
  home/home.nix
  home/modules/cursor-stable-shell.nix
Due: alejandra, statix

feat(tooling): adopt Purpose repo command surface
  .purpose/commands.json
  .purpose/lock.json
  bin/repo
  config/codex/AGENTS.md
  devenv.repo-commands.nix
  flake.nix
  home/modules/packages.nix
  scripts/repo-check.sh
  scripts/repo-maintenance.sh
  scripts/repo-vcs.sh
  scripts/test-repo-vcs.sh
Due: alejandra, statix, shellcheck, shfmt

fix(vcs): converge mirror before Forgejo publication
  scripts/repo-vcs.sh
  scripts/test-repo-vcs.sh
Due: shellcheck, shfmt

fix(vcs): use bounded Forgejo HTTPS publication
  scripts/repo-vcs.sh
  scripts/test-repo-vcs.sh
Due: shellcheck, shfmt

chore(home): backup hardening, abduco, and in-flight config work
  .secrets.baseline
  README.md
  config/codex/shared-preferences.toml
  config/nix/local-build.nix.conf
  docs/runbooks/nix-dev-tooling.md
  home/modules/build-cache-maintenance.nix
  home/modules/git-auto-backup.nix
  home/modules/packages.nix
  home/modules/shell.nix
  justfile
  lefthook.yml
  scripts/codex-preferences
  scripts/test-codex-preferences.py
  secrets/api-keys.yaml
  shell/bash/bashrc
  typos.toml
Due: alejandra, statix

feat(agent-hooks): deliver repo-memory messages to clients
  .secrets.baseline
  config/agent-hooks/install-swarm-hooks.mjs
  config/claude/hooks/swarm-messages.sh
  config/codex/hooks.json
  config/codex/hooks/swarm-messages.mjs
  config/copilot/hooks/swarm-messages.json
  config/cursor/hooks.json
  config/kimi-code/hooks/swarm-messages.sh
  docs/work/2026-07-19-repo-memory-client-hooks/README.md
  docs/work/2026-07-19-repo-memory-client-hooks/current-spec.snapshot.json
  docs/work/2026-07-19-repo-memory-client-hooks/evidence/.gitkeep
  docs/work/2026-07-19-repo-memory-client-hooks/purpose.contract.json
  docs/work/2026-07-19-repo-memory-client-hooks/validation.report.json
  docs/work/2026-07-19-repo-memory-client-hooks/work.spec.json
  home/modules/activation.nix
  home/modules/ai-tools.nix
  home/modules/files.nix
  justfile
  scripts/test-swarm-hook-config.mjs
  scripts/test-swarm-messages.mjs
Due: alejandra, statix, shellcheck, shfmt

fix(agent-hooks): execute Home Manager symlink target
  config/codex/hooks/swarm-messages.mjs
  scripts/test-swarm-messages.mjs
Due: none

docs(agent-hooks): record live repo-memory proof
  .secrets.baseline
  docs/work/2026-07-19-repo-memory-client-hooks/evidence.bundle.json
  docs/work/2026-07-19-repo-memory-client-hooks/evidence/changed-files.json
  docs/work/2026-07-19-repo-memory-client-hooks/evidence/live-hook-proof.json
  docs/work/2026-07-19-repo-memory-client-hooks/evidence/result.json
  docs/work/2026-07-19-repo-memory-client-hooks/evidence/symlink-red-proof.json
  docs/work/2026-07-19-repo-memory-client-hooks/validation.report.json
Due: none

fix(codex): disable unsupported hosted search
  .secrets.baseline
  config/codex/AGENTS.md
  config/codex/agents/coder-fast.toml
  config/codex/agents/coder-smart.toml
  config/codex/agents/debugger.toml
  config/codex/agents/explorer.toml
  config/codex/agents/reviewer.toml
  config/codex/agents/test-writer.toml
  config/codex/agents/verifier.toml
  config/codex/agents/web-researcher.toml
  config/codex/agents/worker.toml
  config/codex/config.toml
  config/codex/shared-preferences.toml
  docs/work/2026-07-19-codex-hosted-search-disabled/README.md
  docs/work/2026-07-19-codex-hosted-search-disabled/current-spec.snapshot.json
  docs/work/2026-07-19-codex-hosted-search-disabled/evidence.bundle.json
  docs/work/2026-07-19-codex-hosted-search-disabled/evidence/changed-files.json
  docs/work/2026-07-19-codex-hosted-search-disabled/evidence/live-proof.json
  docs/work/2026-07-19-codex-hosted-search-disabled/evidence/red-proof.json
  docs/work/2026-07-19-codex-hosted-search-disabled/evidence/result.json
  docs/work/2026-07-19-codex-hosted-search-disabled/purpose.contract.json
  docs/work/2026-07-19-codex-hosted-search-disabled/validation.report.json
  docs/work/2026-07-19-codex-hosted-search-disabled/work.spec.json
  home/modules/activation.nix
  scripts/codex-preferences
  scripts/repo-check.sh
  scripts/test-codex-hosted-search.mjs
  scripts/test-codex-preferences.py
Due: alejandra, statix, shellcheck, shfmt

feat(home): integrate fast Nix tooling and swarm hooks
  .secrets.baseline
  docs/work/2026-07-20-nix-tooling-hooks-integrate/README.md
  docs/work/2026-07-20-nix-tooling-hooks-integrate/current-spec.snapshot.json
  docs/work/2026-07-20-nix-tooling-hooks-integrate/evidence.bundle.json
  docs/work/2026-07-20-nix-tooling-hooks-integrate/evidence/changed-files.json
  docs/work/2026-07-20-nix-tooling-hooks-integrate/evidence/live-activation-proof.json
  docs/work/2026-07-20-nix-tooling-hooks-integrate/evidence/red-proof.json
  docs/work/2026-07-20-nix-tooling-hooks-integrate/evidence/result.json
  docs/work/2026-07-20-nix-tooling-hooks-integrate/evidence/review-proof.json
  docs/work/2026-07-20-nix-tooling-hooks-integrate/purpose.contract.json
  docs/work/2026-07-20-nix-tooling-hooks-integrate/validation.report.json
  docs/work/2026-07-20-nix-tooling-hooks-integrate/work.spec.json
  flake.nix
  home/home.nix
  home/modules/dotfiles-auto-update.nix
  home/modules/nix-index.nix
  home/modules/packages.nix
  home/modules/shell.nix
  justfile
  scripts/repo-check.sh
  scripts/test-nix-tooling.mjs
Due: alejandra, statix, shellcheck, shfmt

feat(home): refresh tooling, timers, and fleet cache policy
  config/nix/local-build.nix.conf
  shell/bash/bashrc
Due: none

fix(shell): whitelist direnv for infra and vendor research trees
  home/modules/shell.nix
Due: alejandra, statix

fix(home): durable goose MCP, stable-shell wrapper, and swarm hooks
  config/codex/AGENTS.md
  config/codex/config.toml
  config/codex/hooks.json
  config/codex/hooks/swarm-messages.mjs
  config/cursor/hooks.json
  config/goose/config.yaml
  config/mise/config.toml
  home/modules/activation.nix
  home/modules/ai-tools.nix
  home/modules/cursor-stable-shell.nix
  home/modules/files.nix
  scripts/test-swarm-hook-config.mjs
  scripts/test-swarm-messages.mjs
Due: alejandra, statix

fix(hooks): render repo-memory context for @just-every/code
  config/codex/hooks/swarm-messages.mjs
  scripts/test-swarm-hook-config.mjs
  scripts/test-swarm-messages.mjs
Due: none

feat(goose): durable claude-agent-acp for claude-acp provider
  config/goose/config.yaml
  config/mise/config.toml
  home/modules/ai-tools.nix
Due: alejandra, statix

feat(goose): enable Claude and Codex ACP providers
  config/goose/config.yaml
  config/mise/config.toml
  home/modules/ai-tools.nix
Due: alejandra, statix

fix(shell): keep ~/.local/bin ahead of mise install PATH
  home/modules/cursor-stable-shell.nix
  shell/bash/bashrc
Due: alejandra, statix

fix(goose): use mutable config.yaml instead of HM symlink
  home/modules/activation.nix
  home/modules/files.nix
Due: alejandra, statix

feat(ai): unify gateway clients and OTLP telemetry
  config/goose/config.yaml
  config/opencode/opencode.json
  home/modules/activation.nix
  home/modules/ai-tools.nix
  shell/bash/bashrc
  shell/bash/otel-env.sh
  vtcode.toml
Due: alejandra, statix, shellcheck, shfmt
