Repository mikkihugo/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: alejandra, statix, shellcheck, shfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    alejandra:
      glob: "*.nix"
      run: alejandra --check {staged_files}

    statix:
      glob: "*.nix"
      run: statix check {staged_files}

    shellcheck:
      glob: "*.sh"
      run: shellcheck --external-sources {staged_files}

    shfmt:
      glob: "*.sh"
      run: shfmt -d {staged_files}

    typos:
      run: typos {staged_files}

    detect-secrets:
      exclude: \.secrets\.baseline$
      run: detect-secrets-hook --baseline .secrets.baseline {staged_files}

chore: populate shared.yaml with working AI provider keys
  secrets/shared.yaml
  typos.toml
Due: none

fix(shell): add nix to PATH in env.sh for non-login shells
  shell/shared/env.sh
Due: shellcheck, shfmt

fix(home): consolidate home/programs attrs to satisfy statix W20, add wl-clipboard/zellij
  .statix.toml
  home/home.nix
  result
Due: alejandra, statix

chore: ignore nix result symlink
  .gitignore
  result
Due: none

docs: add purpose comments throughout — home.nix, flake.nix, bashrc, README
  README.md
  flake.nix
  home/home.nix
  lefthook.yml
  shell/bash/bashrc
  typos.toml
Due: alejandra, statix

fix: add missing hms/secrets/ls aliases to home.shellAliases
  home/home.nix
Due: alejandra, statix

fix: remove grep/find overrides — rg/fd have different syntax, use by name
  home/home.nix
Due: alejandra, statix

feat: add bat-extras (batman/batgrep/batdiff) and man=batman alias
  home/home.nix
Due: alejandra, statix

feat: wire ripgrep config + bat Nord theme, auto-applied via sessionVariables
  config/bat/config
  home/home.nix
Due: alejandra, statix

feat: add VSCode settings — Nerd Font terminal, zsh default shell, editor config
  config/vscode/settings.json
  home/home.nix
Due: alejandra, statix

feat: install JetBrainsMono Nerd Font via nix, force VSCode settings link
  home/home.nix
Due: alejandra, statix

fix: add ~/.local/bin, ~/.npm-global/bin, ~/.cargo/bin to sessionPath
  home/home.nix
Due: alejandra, statix

feat: add ACE embedding worker Home Manager service
  home/home.nix
  lefthook.yml
  services/ace-embedding-worker/bin/llm-gateway-embedding-daemon.gz
  services/ace-embedding-worker/default.nix
  typos.toml
Due: alejandra, statix

feat: arch-specific binaries (aarch64/x86_64) for secret-tui + embedding worker
  home/home.nix
  lefthook.yml
  services/ace-embedding-worker/bin/x86_64/llm-gateway-embedding-daemon.gz
  services/ace-embedding-worker/default.nix
  tools/secret-tui-rust/bin/aarch64/secret-tui.gz
Due: alejandra, statix

feat: auto-build secret-tui from source if no pre-built binary for arch
  home/home.nix
Due: alejandra, statix

feat: enable ace-embedding-worker service with correct code model name
  home/home.nix
Due: alejandra, statix

fix: add 5G memory limit to embedding worker to prevent OOM
  services/ace-embedding-worker/default.nix
Due: alejandra, statix

fix: change to home directory before starship to avoid WSL timeout
  shell/bash/bashrc
Due: none
