Repository mikkihugo/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: alejandra, statix, shellcheck, shfmt

alejandra:
  run: alejandra --check {staged_files}

statix:
  run: statix check {staged_files}

shellcheck:
  run: shellcheck --external-sources {staged_files}

shfmt:
  run: shfmt -d {staged_files}

fix(vcs): keep the Forgejo token off git argv (#43)
  scripts/repo-vcs.sh
  scripts/test-repo-vcs.sh
Due: shellcheck, shfmt

test(codex): hosted-search test title says disabled, matching its assertions (#36)
  scripts/test-codex-hosted-search.mjs
Due: none

feat(vcs): reach Forgejo over git.svc SSH, no token (auto, HTTPS fallback)
  scripts/repo-vcs.sh
  scripts/test-repo-vcs.sh
Due: shellcheck, shfmt

fix(jcode-server): put python3 on the fleet watchdog PATH
  home/modules/jcode-server.nix
Due: alejandra, statix

fix(jcode-server): set the MCP call deadline on the server, where it applies
  home/modules/jcode-server.nix
Due: alejandra, statix

feat(jcode): use the built-in minimax provider instead of minimax-direct
  config/jcode/shared-preferences.toml
  config/jcode/swarm-prompt.md
  home/modules/ai-tools.nix
  home/modules/jcode-providers.nix
  scripts/jcode-preferences
  scripts/test-jcode-preferences.py
  scripts/test-nix-tooling.mjs
Due: alejandra, statix

feat(agents): MCP 2026-07-28 live-tools block on Codex/Copilot instructions
  config/codex/AGENTS.md
  config/copilot/copilot-instructions.md
Due: none

feat(agents): one MCP 2026-07-28 handshake and standard tool names
  config/codex/AGENTS.md
  config/copilot/copilot-instructions.md
Due: none

fix(agents): do not pin MCP protocol in live-tools instructions
  config/codex/AGENTS.md
  config/copilot/copilot-instructions.md
Due: none

fix(kimi-hooks): skills-gate reads the canonical ~/.agents projection first; mark-loaded accepts Kimi Skill tool payload (tool_input.skill)
  config/kimi-code/hooks/skills-gate-mark-loaded.sh
  config/kimi-code/hooks/skills-gate-session-start.sh
Due: shellcheck, shfmt

Wire Copilot and Cursor SessionStart skills-gate; stop Copilot recipient=all posts; install Copilot/Cursor gate files in Home Manager.
  config/copilot/copilot-instructions.md
  config/copilot/hooks/swarm-messages.json
  config/cursor/hooks.json
  config/cursor/rules/engine-swarm-bus.mdc
  home/modules/files.nix
  scripts/test-swarm-hook-config.mjs
Due: alejandra, statix

home: run grok agent leader as a user systemd unit (RestartSec=10)
  home/home.nix
  home/modules/grok-leader.nix
Due: alejandra, statix

home: install kimi mailbox sweep .mjs; add nixpkgs python3
  home/modules/files.nix
  home/modules/packages.nix
Due: alejandra, statix

home: own python3 with nixpkgs; uninstall mise python
  config/common/env.sh
  config/mise/config.toml
  flake.nix
  home/modules/activation.nix
  home/modules/mise-auto-update.nix
  home/modules/packages.nix
  scripts/test-nix-tooling.mjs
Due: alejandra, statix, shellcheck, shfmt

home: keep uninstalling mise python after mise install
  home/modules/mise-auto-update.nix
Due: alejandra, statix

home: slim Grok AGENTS.md and persist mailbox inbox_uri
  config/grok/AGENTS.md
  config/grok/hooks/bin/coordination-mailbox-sweep.mjs
  home/modules/files.nix
Due: alejandra, statix

home: point Grok AGENTS.md at Purpose end-to-end flow
  config/grok/AGENTS.md
Due: none

home: stop Home Manager owning Grok AGENTS.md and mail hook
  config/grok/AGENTS.md
  config/grok/hooks/bin/coordination-mailbox-sweep.mjs
  home/modules/files.nix
Due: alejandra, statix

feat(codex): add explicit least-cost agent roles
  config/agents/host/codex-device-auth.md
  config/codex/AGENTS.md
  config/codex/agents/implementer.toml
  config/codex/agents/reviewer.toml
  config/codex/agents/scout.toml
  config/codex/config.toml
  config/codex/shared-preferences.toml
  home/modules/files.nix
  scripts/codex-preferences
  scripts/test-codex-hosted-search.mjs
  scripts/test-codex-preferences.py
Due: alejandra, statix

fix(codex): preserve declarative role registrations
  scripts/codex-preferences
  scripts/test-codex-preferences.py
Due: none

chore(codex): refresh managed instruction projection
  .purpose/lock.json
  .secrets.baseline
  config/codex/AGENTS.md
Due: none

fix(codex): isolate coordination root session
  config/codex/hooks/coordination-mailbox-sweep.mjs
  config/codex/hooks/coordination-mailbox-sweep.test.mjs
  docs/work/2026-09-17-codex-coordination-root-recovery/README.md
  docs/work/2026-09-17-codex-coordination-root-recovery/current-spec.snapshot.json
  docs/work/2026-09-17-codex-coordination-root-recovery/purpose.contract.json
  docs/work/2026-09-17-codex-coordination-root-recovery/work.spec.json
Due: none

test(codex): prove root coordination sweep
  config/codex/hooks/coordination-mailbox-sweep.test.mjs
  docs/work/2026-09-17-codex-coordination-root-recovery/evidence/green-proof.json
  docs/work/2026-09-17-codex-coordination-root-recovery/evidence/quality-proof.json
  docs/work/2026-09-17-codex-coordination-root-recovery/evidence/red-proof.json
  docs/work/2026-09-17-codex-coordination-root-recovery/evidence/runtime-proof.json
Due: none

fix(codex): restore canonical coordination session
  config/codex/hooks/coordination-mailbox-sweep.mjs
  config/codex/hooks/coordination-mailbox-sweep.test.mjs
Due: none

fix(codex): separate primary OpenAI from gateway workers
  config/codex/config.toml
  config/codex/external-profiles/external-worker.config.toml
  config/codex/shared-preferences.toml
  scripts/test-codex-hosted-search.mjs
  scripts/test-codex-preferences.py
Due: none

fix(codex): use signal-specific OTLP endpoints
  config/codex/config.toml
  scripts/test-codex-preferences.py
Due: none

fix(codex): apply managed OTLP settings
  config/codex/shared-preferences.toml
  scripts/codex-preferences
  scripts/test-codex-preferences.py
Due: none

fix(agent-hooks): retire legacy coordination fallback
  config/agent-hooks/install-swarm-hooks.mjs
  config/claude/hooks/coordination-mailbox-sweep.sh
  config/claude/hooks/swarm-messages.sh
  config/codex/hooks.json
  config/codex/hooks/coordination-mailbox-sweep.mjs
  config/codex/hooks/coordination-mailbox-sweep.sh
  config/codex/hooks/coordination-mailbox-sweep.test.mjs
  config/codex/hooks/coordination-mailbox-sweep.transport.test.mjs
  config/codex/hooks/swarm-messages.mjs
  config/copilot/hooks/coordination-mailbox-sweep.json
  config/copilot/hooks/coordination-mailbox-sweep.sh
  config/copilot/hooks/swarm-messages.json
  config/kimi-code/hooks/swarm-messages.sh
  docs/work/2026-09-18-coordination-legacy-removal/current-spec.snapshot.json
  docs/work/2026-09-18-coordination-legacy-removal/evidence.bundle.json
  docs/work/2026-09-18-coordination-legacy-removal/evidence/changed-files.json
  docs/work/2026-09-18-coordination-legacy-removal/evidence/red-kimi-artifact.json
  docs/work/2026-09-18-coordination-legacy-removal/evidence/red-result.json
  docs/work/2026-09-18-coordination-legacy-removal/evidence/red-status.json
  docs/work/2026-09-18-coordination-legacy-removal/evidence/result.json
  docs/work/2026-09-18-coordination-legacy-removal/purpose.contract.json
  docs/work/2026-09-18-coordination-legacy-removal/validation.report.json
  docs/work/2026-09-18-coordination-legacy-removal/work.spec.json
  home/modules/files.nix
  scripts/repo-check.sh
  scripts/test-nix-tooling.mjs
  scripts/test-stable-shell-path.mjs
  scripts/test-swarm-hook-config.mjs
  scripts/test-swarm-messages.mjs
Due: alejandra, statix, shellcheck, shfmt

fix(codex): use owned coordination root session
  config/codex/hooks/coordination-mailbox-sweep.mjs
  config/codex/hooks/coordination-mailbox-sweep.test.mjs
  config/codex/hooks/coordination-mailbox-sweep.transport.test.mjs
Due: none

fix(codex): persist sweep inbox capability
  config/codex/hooks/coordination-mailbox-sweep.mjs
  config/codex/hooks/coordination-mailbox-sweep.test.mjs
Due: none

feat(codex): document explicit external gateway orchestration
  config/codex/skills/external-harness-orchestration/SKILL.md
  docs/work/2026-09-18-codex-external-profile-orchestration/README.md
  docs/work/2026-09-18-codex-external-profile-orchestration/current-spec.snapshot.json
  docs/work/2026-09-18-codex-external-profile-orchestration/evidence.bundle.json
  docs/work/2026-09-18-codex-external-profile-orchestration/evidence/changed-files.json
  docs/work/2026-09-18-codex-external-profile-orchestration/evidence/red-coordination-result.json
  docs/work/2026-09-18-codex-external-profile-orchestration/evidence/red-result.json
  docs/work/2026-09-18-codex-external-profile-orchestration/evidence/result.json
  docs/work/2026-09-18-codex-external-profile-orchestration/evidence/review-result.json
  docs/work/2026-09-18-codex-external-profile-orchestration/purpose.contract.json
  docs/work/2026-09-18-codex-external-profile-orchestration/validation.report.json
  docs/work/2026-09-18-codex-external-profile-orchestration/work.spec.json
  scripts/test-codex-external-harness-skill.mjs
Due: none

fix(codex): pin Purpose hook Node interpreter
  config/codex/hooks.json
  config/codex/hooks/purpose-session-start.sh
  config/cursor/hooks.json
  docs/work/2026-09-18-purpose-session-hook-node/current-spec.snapshot.json
  docs/work/2026-09-18-purpose-session-hook-node/evidence/baseline-hook-repro.txt
  docs/work/2026-09-18-purpose-session-hook-node/evidence/repo-check.txt
  docs/work/2026-09-18-purpose-session-hook-node/purpose.contract.json
  docs/work/2026-09-18-purpose-session-hook-node/validation.report.json
  docs/work/2026-09-18-purpose-session-hook-node/work.spec.json
  home/modules/files.nix
  scripts/test-swarm-hook-config.mjs
Due: alejandra, statix, shellcheck, shfmt

docs(purpose): record hook runtime evidence
  docs/work/2026-09-18-purpose-session-hook-node/evidence.bundle.json
  docs/work/2026-09-18-purpose-session-hook-node/evidence/changed-files.json
  docs/work/2026-09-18-purpose-session-hook-node/evidence/red-result.json
  docs/work/2026-09-18-purpose-session-hook-node/evidence/redteam-review.json
  docs/work/2026-09-18-purpose-session-hook-node/evidence/runtime-hook-repro.txt
  docs/work/2026-09-18-purpose-session-hook-node/validation.report.json
Due: none

test(purpose): refresh post-rebase evidence
  docs/work/2026-09-18-purpose-session-hook-node/evidence.bundle.json
  docs/work/2026-09-18-purpose-session-hook-node/evidence/repo-check.txt
Due: none

fix(codex): isolate coordination hook inbox
  config/codex/hooks/coordination-mailbox-sweep.mjs
  config/codex/hooks/coordination-mailbox-sweep.test.mjs
Due: none

fix(codex): recover rejected mailbox capabilities
  config/codex/hooks/coordination-mailbox-sweep.mjs
  config/codex/hooks/coordination-mailbox-sweep.test.mjs
  config/codex/hooks/coordination-mailbox-sweep.transport.test.mjs
  docs/work/2026-09-18-codex-hook-capability-repair/current-spec.snapshot.json
  docs/work/2026-09-18-codex-hook-capability-repair/evidence.bundle.json
  docs/work/2026-09-18-codex-hook-capability-repair/evidence/changed-files.json
  docs/work/2026-09-18-codex-hook-capability-repair/evidence/green.json
  docs/work/2026-09-18-codex-hook-capability-repair/evidence/red.json
  docs/work/2026-09-18-codex-hook-capability-repair/evidence/review.json
  docs/work/2026-09-18-codex-hook-capability-repair/evidence/runtime.json
  docs/work/2026-09-18-codex-hook-capability-repair/purpose.contract.json
  docs/work/2026-09-18-codex-hook-capability-repair/validation.report.json
  docs/work/2026-09-18-codex-hook-capability-repair/work.spec.json
Due: none

fix(codex): recover stale coordination inbox capabilities
  config/codex/hooks/coordination-mailbox-sweep.test.mjs
Due: none

fix(dotfiles): expose main convergence through repo facade
  bin/repo
Due: none

feat(codex): add selectable MiniMax-M3 profile
  config/codex/config.toml
  config/codex/minimax-m3.config.toml
  config/codex/model-catalogs/minimax-m3.json
  config/codex/shared-preferences.toml
  home/modules/files.nix
  scripts/codex-preferences
  scripts/test-codex-preferences.py
Due: alejandra, statix

fix(hooks): rename RepoMemoryBus to CoordinationBus in Claude Stop hook (#45)
  config/claude/hooks/stop-continue-if-actionable.mjs
  config/claude/hooks/stop-continue-if-actionable.test.mjs
Due: none

Path conditions:
  alejandra: any of: *.nix
  statix: any of: *.nix
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
