Repository mikkihugo/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: alejandra, statix, shellcheck, shfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    alejandra:
      glob: "*.nix"
      run: alejandra --check {staged_files}

    statix:
      glob: "*.nix"
      run: statix check {staged_files}

    shellcheck:
      glob: "*.sh"
      run: shellcheck --external-sources {staged_files}

    shfmt:
      glob: "*.sh"
      run: shfmt -d {staged_files}

    typos:
      run: typos {staged_files}

    detect-secrets:
      exclude: \.secrets\.baseline$
      run: detect-secrets-hook --baseline .secrets.baseline {staged_files}

feat(hooks): coordination-mailbox-sweep — bounded, cursor-based per-turn sweep with 30 s budget; swarm-messages kept as shim
  config/agent-hooks/install-swarm-hooks.mjs
  config/claude/hooks/coordination-mailbox-sweep.sh
  config/codex/hooks/coordination-mailbox-sweep.mjs
  config/codex/hooks/coordination-mailbox-sweep.test.mjs
  config/codex/hooks/coordination-mailbox-sweep.transport.test.mjs
  config/kimi-code/hooks/coordination-mailbox-sweep.sh
  home/modules/files.nix
  scripts/repo-check.sh
  scripts/test-swarm-hook-config.mjs
Due: alejandra, statix, shellcheck, shfmt

fix(hooks): coordination-mailbox-sweep — stateless MCP transport, literal short-session identity, global-mailbox fallback
  config/codex/hooks/coordination-mailbox-sweep.mjs
  config/codex/hooks/coordination-mailbox-sweep.test.mjs
  config/codex/hooks/coordination-mailbox-sweep.transport.test.mjs
Due: none

feat(codex): default to MiniMax-M3 via llm-gateway
  config/codex/config.toml
  config/codex/shared-preferences.toml
Due: none

feat(hooks): cursor beforeSubmitPrompt, verbatim consumer override, mandatory global mailbox
  config/codex/hooks/swarm-messages.mjs
  config/cursor/hooks.json
  scripts/test-swarm-hook-config.mjs
  scripts/test-swarm-messages.mjs
Due: none

feat(hooks): suppress heartbeat/available noise from prompt injection, still acked
  config/codex/hooks/swarm-messages.mjs
  scripts/test-swarm-messages.mjs
Due: none

test(codex): expect MiniMax-M3/llm-gateway defaults after 987f7bf0
  scripts/test-codex-hosted-search.mjs
  scripts/test-codex-preferences.py
Due: none

fix(hooks): sweep — subscribe at head on fresh identity, never render from-zero replays
  config/codex/hooks/coordination-mailbox-sweep.mjs
  config/codex/hooks/coordination-mailbox-sweep.test.mjs
  config/codex/hooks/coordination-mailbox-sweep.transport.test.mjs
Due: none

fix(nix-gc-sweep): flock around nix-collect-garbage to serialize with system nix-gc.service
  home/modules/nix-gc-sweep.nix
Due: alejandra, statix

fix(hooks): advance the mailbox cursor only over the acked prefix
  config/codex/hooks/coordination-mailbox-sweep.mjs
Due: none

fix(hooks): dedupe coordination mailbox messages by id across mailboxes
  config/codex/hooks/coordination-mailbox-sweep.mjs
  config/codex/hooks/coordination-mailbox-sweep.test.mjs
Due: none

fix(codex): point HM-rendered codex hooks at coordination-mailbox-sweep.mjs
  config/codex/hooks.json
  scripts/test-swarm-hook-config.mjs
Due: none

fix(copilot): wire HM-rendered copilot hooks at coordination-mailbox-sweep
  config/copilot/hooks/coordination-mailbox-sweep.sh
  config/copilot/hooks/swarm-messages.json
  home/modules/files.nix
  scripts/test-swarm-hook-config.mjs
Due: alejandra, statix, shellcheck, shfmt

feat(hooks): opencode coordination-mailbox sweep on session.created, document goose gap
  config/opencode/plugins/coordination-mailbox-sweep.js
  home/modules/files.nix
Due: alejandra, statix

fix(copilot): use exec+args in copilot hook configs
  config/copilot/hooks/swarm-messages.json
Due: none

docs(agents): document the hms shorthand in AGENTS.md and CLAUDE.md
  AGENTS.md
  CLAUDE.md
Due: none

fix(hooks): cursor coordination-mailbox migration + repair red copilot hook test
  config/codex/hooks/coordination-mailbox-sweep.mjs
  config/codex/hooks/coordination-mailbox-sweep.test.mjs
  config/cursor/hooks.json
  home/modules/files.nix
  scripts/test-swarm-hook-config.mjs
Due: alejandra, statix

fix(hooks): migrate factory onto HM-rendered coordination-mailbox-sweep.sh shim
  config/factory/hooks/coordination-mailbox-sweep.sh
  config/factory/settings.json
  home/modules/files.nix
  scripts/test-swarm-hook-config.mjs
Due: alejandra, statix, shellcheck, shfmt

fix(copilot): fall back auto-kimi subagent pins to working models
  config/copilot/settings.json
Due: none

fix(copilot): HM-manage remind-skills hook (was orphaned since 2026-06-21)
  config/copilot/hooks/remind-skills.json
  config/copilot/hooks/remind-skills.sh
  home/modules/files.nix
Due: alejandra, statix, shellcheck, shfmt

fix(mise): pin @github/copilot to 1.0.82, 1.0.83 breaks hook loading
  config/mise/config.toml
Due: none

fix(hooks): suppress type=available presence pings like heartbeats
  config/codex/hooks/coordination-mailbox-sweep.mjs
  config/codex/hooks/coordination-mailbox-sweep.test.mjs
Due: none

fix(packages): add openssl to daily shell, was devShell-only
  home/modules/packages.nix
Due: alejandra, statix

feat(hooks): Stop hook keeps claude sessions from idling on actionable bus messages
  config/agent-hooks/install-swarm-hooks.mjs
  config/claude/hooks/stop-continue-if-actionable.mjs
  config/claude/hooks/stop-continue-if-actionable.sh
  config/claude/hooks/stop-continue-if-actionable.test.mjs
  home/modules/files.nix
Due: alejandra, statix, shellcheck, shfmt

home-manager: adopt four orphaned .claude hooks
  config/claude/hooks/block-raw-git-in-jj-repos.sh
  config/claude/hooks/workspace-closure-report.sh
  config/claude/hooks/worktree-create-global.sh
  config/claude/hooks/worktree-remove-global.sh
  home/modules/files.nix
Due: alejandra, statix, shellcheck, shfmt

fix(vcs): switch forgejo https auth from GIT_ASKPASS to per-invocation credential.helper (mhugo/dotfiles#14)
  scripts/repo-vcs.sh
Due: shellcheck, shfmt

fix(mise): scope trust_policy_excludes for @playwright/mcp 0.0.80's ESRP publish gap
  config/mise/config.toml
Due: none

feat(hooks): add coordination_* migration path, default-off, plus a real fix found by live verification
  config/codex/hooks/coordination-mailbox-sweep.mjs
  config/codex/hooks/coordination-mailbox-sweep.test.mjs
Due: none

fix(test): isolate from agent-direnv + relax amend assertions (mhugo/dotfiles#19)
  scripts/test-repo-vcs.sh
Due: shellcheck, shfmt

feat(claude): inject the skills gate at SessionStart
  config/claude/hooks/skills-gate-session-start.sh
  home/modules/files.nix
  scripts/repo-check.sh
  scripts/test-skills-gate-hook.mjs
Due: alejandra, statix, shellcheck, shfmt

fix(claude): detect Copilot CLI by the variables it actually sets
  config/claude/hooks/skills-gate-session-start.sh
  scripts/test-skills-gate-hook.mjs
Due: shellcheck, shfmt

fix(claude): register the skills gate where it survives activation, and make section extraction fence-aware
  config/agent-hooks/install-swarm-hooks.mjs
  config/claude/hooks/skills-gate-session-start.sh
  scripts/test-skills-gate-hook.mjs
  scripts/test-swarm-hook-config.mjs
Due: shellcheck, shfmt

fix(codex): align web_search test with intentional disabled default (mhugo/dotfiles#23)
  config/codex/config.toml
  config/codex/shared-preferences.toml
  scripts/test-codex-hosted-search.mjs
Due: none

mhugo/dotfiles#13: sync-main divergence report + --divergence-only
  scripts/repo-vcs.sh
  scripts/test-repo-vcs.sh
Due: shellcheck, shfmt

fix(purpose): declare memoryBankId in .purpose/lock.json (#365)
  .purpose/lock.json
Due: none

perf(cargo): cap devbox agent builds at nproc-8 rustc via CARGO_BUILD_JOBS
  home/home.nix
  home/modules/cargo-build-jobs.nix
Due: alejandra, statix

copilot(copilot-cli): route code-review/security-review to auto-deepseek-fast
  config/copilot/settings.json
Due: none

fix(rustup-wrappers): fall back when the pinned toolchain cannot exec
  home/modules/rustup-toolchain-wrapper.sh
Due: shellcheck, shfmt

revert(rustup-wrappers): drop the fallback wrapper — it fork-bombed the host
  home/modules/rustup-toolchain-wrapper.sh
Due: shellcheck, shfmt

chore(rustup-wrappers): remove the rustup proxy wrappers — replaced by the nix-managed toolchain
  config/mise/config.toml
  home/home.nix
  home/modules/rustup-toolchain-wrapper.sh
  home/modules/rustup-toolchain-wrappers.nix
  scripts/repo-check.sh
  scripts/test-rustup-toolchain-wrappers.mjs
Due: alejandra, statix, shellcheck, shfmt

fix(home): overwrite rustup's cargo-fmt/cargo-clippy proxies with Nix binaries
  home/home.nix
  home/modules/cargo-subcommand-proxies.nix
Due: alejandra, statix
