Repository mikkihugo/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: alejandra, statix, shellcheck, shfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    alejandra:
      glob: "*.nix"
      run: alejandra --check {staged_files}

    statix:
      glob: "*.nix"
      run: statix check {staged_files}

    shellcheck:
      glob: "*.sh"
      run: shellcheck --external-sources {staged_files}

    shfmt:
      glob: "*.sh"
      run: shfmt -d {staged_files}

    typos:
      run: typos {staged_files}

    detect-secrets:
      exclude: \.secrets\.baseline$
      run: detect-secrets-hook --baseline .secrets.baseline {staged_files}

fix(jcode): restore required llm-gateway/byteplus-ark provider profiles
  config/jcode/shared-preferences.toml
Due: none

fix(nix-gc-sweep): give the daily deep scan 2h instead of 30min
  home/modules/nix-gc-sweep.nix
Due: alejandra, statix

fix(codex): use native daemon lifecycle and production updates
  docs/work/2026-09-30-codex-native-daemon/README.md
  docs/work/2026-09-30-codex-native-daemon/current-spec.snapshot.json
  docs/work/2026-09-30-codex-native-daemon/evidence.bundle.json
  docs/work/2026-09-30-codex-native-daemon/evidence/.gitkeep
  docs/work/2026-09-30-codex-native-daemon/evidence/activation-idempotence.json
  docs/work/2026-09-30-codex-native-daemon/evidence/baseline-version.json
  docs/work/2026-09-30-codex-native-daemon/evidence/bootstrap-activation.json
  docs/work/2026-09-30-codex-native-daemon/evidence/changed-files.json
  docs/work/2026-09-30-codex-native-daemon/evidence/check-runtime.py
  docs/work/2026-09-30-codex-native-daemon/evidence/declared-unit-names.json
  docs/work/2026-09-30-codex-native-daemon/evidence/migration-exit-code
  docs/work/2026-09-30-codex-native-daemon/evidence/migration.txt
  docs/work/2026-09-30-codex-native-daemon/evidence/nix-deadnix.txt
  docs/work/2026-09-30-codex-native-daemon/evidence/nix-format.txt
  docs/work/2026-09-30-codex-native-daemon/evidence/nix-statix.txt
  docs/work/2026-09-30-codex-native-daemon/evidence/pin-red.json
  docs/work/2026-09-30-codex-native-daemon/evidence/primary-source-green.txt
  docs/work/2026-09-30-codex-native-daemon/evidence/production-update-final.txt
  docs/work/2026-09-30-codex-native-daemon/evidence/production-update.txt
  docs/work/2026-09-30-codex-native-daemon/evidence/publication-gate-repair.md
  docs/work/2026-09-30-codex-native-daemon/evidence/red-result.json
  docs/work/2026-09-30-codex-native-daemon/evidence/retire-activation.json
  docs/work/2026-09-30-codex-native-daemon/evidence/review-dispositions.md
  docs/work/2026-09-30-codex-native-daemon/evidence/runtime-final.json
  docs/work/2026-09-30-codex-native-daemon/evidence/runtime-green.json
  docs/work/2026-09-30-codex-native-daemon/evidence/runtime-publication.json
  docs/work/2026-09-30-codex-native-daemon/evidence/runtime-red.json
  docs/work/2026-09-30-codex-native-daemon/evidence/source-green.txt
  docs/work/2026-09-30-codex-native-daemon/evidence/source-red.txt
  docs/work/2026-09-30-codex-native-daemon/evidence/tui-model-picker.txt
  docs/work/2026-09-30-codex-native-daemon/evidence/validation-final.json
  docs/work/2026-09-30-codex-native-daemon/migration-state.json
  docs/work/2026-09-30-codex-native-daemon/purpose.contract.json
  docs/work/2026-09-30-codex-native-daemon/validation.report.json
  docs/work/2026-09-30-codex-native-daemon/work.spec.json
  home/home.nix
  home/modules/codex-managed-daemon.nix
  home/modules/codex-server-auto-update.nix
  scripts/test-nix-tooling.mjs
Due: alejandra, statix

engine-worktree-cleanup: TimeoutStartSec 30min -> 3h (330 lanes at ~8s/probe; singularity-engine#964)
  home/modules/engine-worktree-cleanup.nix
Due: alejandra, statix

ssh: log in to tl as mhugo and keep root on tl-root
  config/codex/AGENTS.md
  config/ssh_config
  config/tabby/config.yaml
  scripts/test-codex-mailbox-instructions.mjs
  scripts/test-tabby-terminal.mjs
Due: none

codex: keep origin's external-worker instructions
  config/codex/AGENTS.md
Due: none

jcode: add glm-5.3-flash and deepseek-v4.1-flash to ollama-cloud
  config/jcode/shared-preferences.toml
Due: none

jcode: drop byteplus and keep deepseek 4.1 flash on ollama-cloud
  config/jcode/shared-preferences.toml
  home/modules/ai-tools.nix
  home/modules/jcode-providers.nix
  scripts/jcode-preferences
  scripts/test-jcode-preferences.py
  scripts/test-nix-tooling.mjs
  secrets/api-keys.yaml
Due: alejandra, statix

jcode: add MiniMax M3.1 Flash and Kimi Code
  config/jcode/shared-preferences.toml
  home/modules/ai-tools.nix
  scripts/jcode-preferences
  scripts/test-jcode-preferences.py
  scripts/test-nix-tooling.mjs
Due: alejandra, statix

feat(codex): migrate to native managed daemon, add pyyaml to profile
  .secrets.baseline
  config/codex/AGENTS.md
  config/codex/agents/scout.toml
  config/codex/agents/taxonomy-validator.toml
  config/codex/config.toml
  config/codex/external-profiles/external-explorer.config.toml
  config/codex/external-profiles/external-reasoner.config.toml
  config/codex/external-profiles/external-reviewer.config.toml
  config/codex/external-profiles/external-verifier.config.toml
  config/codex/external-profiles/external-worker.config.toml
  config/codex/shared-preferences.toml
  docs/work/2026-09-30-codex-native-daemon/evidence/digests.json
  docs/work/2026-09-30-codex-native-daemon/evidence/publication-check.txt
  docs/work/2026-09-30-codex-native-daemon/evidence/publication-packet-validation.json
  docs/work/2026-09-30-codex-native-daemon/evidence/publication-receipt.txt
  home/modules/files.nix
  home/modules/packages.nix
  scripts/test-codex-external-harness-skill.mjs
  scripts/test-codex-hosted-search.mjs
  shell/bash/noninteractive-path.sh.bak-20260928042806
Due: alejandra, statix

fix(home): install pyyaml via python3.withPackages
  home/modules/packages.nix
Due: alejandra, statix

chore(agentgrep): retire local PyPI history-search wheel (R5)
  home/modules/agentgrep/agentgrep-0.1.0a52-py3-none-any.whl
  home/modules/agentgrep/agentgrep-local-stores.patch
  home/modules/agentgrep/test_local_stores.py
  home/modules/packages.nix
Due: alejandra, statix

borg: exclude build artifacts (target, node_modules, .direnv) from hot-source backups
  home/modules/home-emergency-backup.nix
Due: alejandra, statix

codex-managed-daemon: do not fail the Home Manager switch when an unmanaged codex app server is running
  home/modules/codex-managed-daemon.nix
Due: alejandra, statix

jcode: rust-analyzer MCP launcher that runs the helper in the session's direnv dev shell
  scripts/jcode-rust-analyzer-mcp
Due: none

borg: drop duplicate engine .git, stale jj store and jcode lane assets from hot-source
  home/modules/home-emergency-backup.nix
Due: alejandra, statix

fix dotfiles Exa SOPS auth and review findings
  .secrets.baseline
  config/codex/agents/scout.toml
  config/codex/agents/taxonomy-validator.toml
  config/opencode/opencode.json
  config/starship.toml
  docs/plans/2026-10-04-dotfiles-review-fixes.md
  docs/plans/2026-10-04-dotfiles-review-fixes.progress.md
  docs/work/2026-10-04-dotfiles-review-fixes/current-spec.snapshot.json
  docs/work/2026-10-04-dotfiles-review-fixes/evidence.bundle.json
  docs/work/2026-10-04-dotfiles-review-fixes/purpose.contract.json
  docs/work/2026-10-04-dotfiles-review-fixes/work.spec.json
  home/modules/ai-tools.nix
  lefthook.yml
  scripts/codex-rollout-gc.sh
  scripts/lint-staged-shell.sh
  scripts/reap-abandoned-searches.sh
  scripts/repo-check.sh
  scripts/test-codex-preferences.py
  scripts/test-codex-rollout-gc.sh
  scripts/test-nix-gate-script-coverage.sh
  scripts/test-opencode-config.mjs
  secrets/api-keys.yaml
  shell/bash/bashrc
  tasks/scripts/lint.sh
Due: alejandra, statix, shellcheck, shfmt

route in-cluster Forgejo through personal admin key
  config/ssh_config
  scripts/repo-vcs.sh
Due: shellcheck, shfmt

wire secret filter and refresh stale tooling contracts
  lefthook.yml
  scripts/test-detect-secrets-work-packet-filter.mjs
  scripts/test-nix-tooling.mjs
Due: none

remove invalid SSH key references
  config/ssh_config
Due: none

align VCS deletion verbs with AIP naming
  bin/repo
  just/vcs.just
  scripts/repo-vcs.sh
Due: shellcheck, shfmt

update VCS contract for delete naming
  scripts/test-repo-vcs.sh
Due: shellcheck, shfmt

stabilize Codex shell gate fixtures
  scripts/repo-check.sh
  scripts/test-stable-shell-path.mjs
Due: shellcheck, shfmt

preserve local dotfiles updates before convergence
  home/home.nix
Due: alejandra, statix

home: zsh OMZ plugins + starship tmux segment; declarative tmux
  config/starship.toml
  home/home.nix
  home/modules/packages.nix
  home/modules/shell.nix
  home/modules/tmux.nix
Due: alejandra, statix

fix(vcs): read jj revisions through the Engine repo command
  scripts/repo-vcs.sh
Due: shellcheck, shfmt

fix(shell): put ~/.nix-profile/bin on home.sessionPath
  home/home.nix
Due: alejandra, statix

fix(vcs): use pinned Git in the primary-to-main test
  scripts/test-repo-vcs.sh
Due: shellcheck, shfmt

docs(agents): drop retired mailbox-sweep instructions
  config/codex/AGENTS.md
  config/copilot/agents/README.md
  config/copilot/copilot-instructions.md
  config/cursor/rules/engine-swarm-bus.mdc
  home/modules/files.nix
  scripts/test-codex-mailbox-instructions.mjs
Due: alejandra, statix

chore(secrets): drop hooks.lock.json allowance from the work-packet filter
  scripts/detect-secrets-work-packet-filter.py
  scripts/test-detect-secrets-work-packet-filter.mjs
Due: none

feat(git): dial Forgejo on 2222 and trunk() on main@origin
  home/modules/git.nix
Due: alejandra, statix

feat(git): read the Forgejo HTTPS credential from OpenBao
  home/modules/git.nix
  scripts/git-credential-forgejo-bao
  scripts/repo-check.sh
  scripts/test-git-credential-forgejo-bao.sh
Due: alejandra, statix, shellcheck, shfmt

fix(vcs): read log and show through the pinned git again
  scripts/repo-vcs.sh
  scripts/test-repo-vcs.sh
Due: shellcheck, shfmt

feat(forgejo): render every token copy from OpenBao
  home/modules/forgejo-token-file.nix
  scripts/forgejo-token-sync
  scripts/repo-check.sh
  scripts/test-forgejo-token-sync.sh
Due: alejandra, statix, shellcheck, shfmt

feat(forgejo): poll OpenBao every 5 minutes, leave matching copies alone
  home/modules/forgejo-token-file.nix
  scripts/forgejo-token-sync
  scripts/test-forgejo-token-sync.sh
Due: alejandra, statix, shellcheck, shfmt

feat(vcs): primary-to-main handles a detached primary and proves deletions
  scripts/repo-vcs.sh
  scripts/test-repo-vcs.sh
Due: shellcheck, shfmt

fix(backup): drop missing engine-jj-git-store source so hot-source jobs run again
  home/modules/home-emergency-backup.nix
Due: alejandra, statix

docs(backup): correct note - engine jj store is covered via the code source
  home/modules/home-emergency-backup.nix
Due: alejandra, statix

devbox: memory envelopes so a heavy build cannot hang the VM
  home/modules/cargo-build-jobs.nix
  home/modules/grok-leader.nix
  home/modules/home-emergency-backup.nix
Due: alejandra, statix
