Repository mikkihugo/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: alejandra, statix, shellcheck, shfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    alejandra:
      glob: "*.nix"
      run: alejandra --check {staged_files}

    statix:
      glob: "*.nix"
      run: statix check {staged_files}

    shellcheck:
      glob: "*.sh"
      run: shellcheck --external-sources {staged_files}

    shfmt:
      glob: "*.sh"
      run: shfmt -d {staged_files}

    typos:
      run: typos {staged_files}

    detect-secrets:
      exclude: \.secrets\.baseline$
      run: detect-secrets-hook --baseline .secrets.baseline {staged_files}

fix(ai): scope Goose and Copilot identity per session
  home/modules/ai-tools.nix
  home/modules/cursor-stable-shell.nix
  scripts/test-stable-shell-path.mjs
  scripts/test-swarm-hook-config.mjs
Due: alejandra, statix

fix(vcs): close remotely integrated worktrees
  scripts/repo-vcs.sh
Due: shellcheck, shfmt

fix(shell): deduplicate inherited PATH across nested launches
  home/modules/cursor-stable-shell.nix
  scripts/test-stable-shell-path.mjs
Due: alejandra, statix

fix(codex): keep delegated publication synchronous
  config/codex/AGENTS.md
  scripts/test-nix-tooling.mjs
Due: none

fix(vcs): use pinned Git behind dotfiles facade
  scripts/repo-vcs.sh
  scripts/test-repo-vcs.sh
Due: shellcheck, shfmt

feat(vcs): expose guarded task rebase
  .purpose/commands.json
  bin/repo
  just/vcs.just
  scripts/repo-vcs.sh
  scripts/test-repo-vcs.sh
Due: shellcheck, shfmt

fix(vcs): keep timed publication on pinned Git
  scripts/repo-vcs.sh
  scripts/test-repo-vcs.sh
Due: shellcheck, shfmt

fix(nix): evaluate single Home Manager target directly
  scripts/repo-check.sh
  scripts/test-nix-tooling.mjs
Due: shellcheck, shfmt

feat(home): install pstree diagnostics
  home/modules/packages.nix
  scripts/test-nix-tooling.mjs
Due: alejandra, statix

fix(home): standardize managed clients on C.UTF-8
  home/home.nix
  scripts/test-nix-tooling.mjs
Due: alejandra, statix

feat(home): provide deterministic ast-grep sg entrypoint
  config/codex/AGENTS.md
  home/home.nix
  home/modules/ast-grep.nix
  scripts/repo-check.sh
  scripts/test-ast-grep-shim.sh
Due: alejandra, statix, shellcheck, shfmt

feat(vcs): add guarded worktree abandonment
  .purpose/commands.json
  bin/repo
  just/vcs.just
  scripts/repo-vcs.sh
  scripts/test-repo-vcs.sh
Due: shellcheck, shfmt

fix(shell): make Cursor bootstrap wrapper immutable
  home/modules/cursor-stable-shell.nix
  scripts/test-stable-shell-path.mjs
Due: alejandra, statix

chore(home): use standard mise module and retire Hermes
  .envrc
  bootstrap/bootstrap.sh
  bootstrap/steps/05-machine-setup.sh
  bootstrap/steps/20-home-manager.sh
  bootstrap/steps/30-post.sh
  docs/SYSTEM_DOCUMENTATION.md
  docs/adr/004-secrets-management.md
  flake.lock
  flake.nix
  home/home.nix
  home/modules/ai-tools.nix
  home/modules/hermes-proxy.nix
  home/modules/hermes-tui.nix
  home/modules/machine-role.nix
  home/modules/mise-auto-update.nix
  home/modules/packages.nix
  overlays/mise.nix
  scripts/test-nix-tooling.mjs
  secrets/api-keys.yaml
Due: alejandra, statix, shellcheck, shfmt

fix(home): keep backup jobs out of activation
  home/modules/home-emergency-backup.nix
  scripts/test-nix-tooling.mjs
Due: alejandra, statix

fix(home): keep repo backup sweep out of activation
  home/modules/git-auto-backup.nix
  scripts/test-nix-tooling.mjs
Due: alejandra, statix

docs(goose): document all model providers with context limits in config
  config/goose/config.yaml
Due: none

chore: stage remaining dirty files for clean flake eval
  config/codex/hooks.json
  scripts/test-swarm-hook-config.mjs
Due: none

fix(goose): use bare umans model names (with tools), not full-path (chat-only)
  config/goose/config.yaml
  home/modules/ai-tools.nix
Due: alejandra, statix

feat(goose): switch to minimax, add TOM guardrails, clean CLI
  .gitignore
  config/goose/config.yaml
  config/goose/moim-guardrails.md
  home/modules/activation.nix
  home/modules/ai-tools.nix
  home/modules/files.nix
Due: alejandra, statix

feat(goose): per-model context limits + 6 model wrapper variants
  config/goose/config.yaml
  home/modules/activation.nix
  home/modules/ai-tools.nix
Due: alejandra, statix

feat(goose): planner/worker split + per-model context limits
  config/goose/config.yaml
  home/modules/activation.nix
  home/modules/ai-tools.nix
Due: alejandra, statix

fix(goose): remove 4 extra wrappers, keep only 6 requested models
  config/goose/config.yaml
  home/modules/ai-tools.nix
Due: alejandra, statix

feat(goose): enable bundled orchestrator
  config/goose/config.yaml
  home/modules/activation.nix
  scripts/test-swarm-hook-config.mjs
Due: alejandra, statix

fix(goose): switch to minimax-ai/MiniMax-M3, correct context to 128K
  config/goose/config.yaml
  home/modules/activation.nix
  home/modules/ai-tools.nix
Due: alejandra, statix

fix(goose): revert to umans full-path routes (200 OK)
  config/goose/config.yaml
  home/modules/ai-tools.nix
Due: alejandra, statix

feat(goose): replace 503 umans bare routes with full-path + add deepseek-cloud
  home/modules/ai-tools.nix
Due: alejandra, statix

feat(goose): make Kimi K3 the main model
  config/goose/config.yaml
  config/mise/config.toml
  home/modules/activation.nix
  home/modules/ai-tools.nix
  scripts/test-swarm-hook-config.mjs
Due: alejandra, statix

fix(goose): use Summon for tool-capable delegation
  config/goose/config.yaml
  home/modules/activation.nix
  home/modules/ai-tools.nix
  scripts/test-swarm-hook-config.mjs
Due: alejandra, statix

feat(vcs): safely reconcile patch-equivalent main
  .purpose/commands.json
  bin/repo
  just/vcs.just
  scripts/repo-vcs.sh
  scripts/test-repo-vcs.sh
Due: shellcheck, shfmt

fix(agents): make coder CLIs work — vtcode agent discovery, mise PATH, hms
  config/codex/agents/coder-fast.toml
  config/codex/agents/coder-smart.toml
  config/codex/agents/debugger.toml
  config/codex/agents/default.toml
  config/codex/agents/explorer.toml
  config/codex/agents/reviewer.toml
  config/codex/agents/singularity-engine-harvester.toml
  config/codex/agents/taxonomy-validator.toml
  config/codex/agents/taxonomy-worker.toml
  config/codex/agents/test-writer.toml
  config/codex/agents/verifier.toml
  config/codex/agents/web-researcher.toml
  config/codex/agents/worker.toml
  home/modules/shell.nix
  shell/bash/bashrc
  shell/bash/noninteractive-path.sh
Due: alejandra, statix, shellcheck, shfmt

feat(forgejo): declarative Forgejo PR autofix systemd timer
  home/modules/forgejo-pr-autofix.nix
Due: alejandra, statix

test(nix): preserve non-interactive hms contract
  scripts/test-nix-tooling.mjs
Due: none

fix(codex): route swarm hooks across canonical and lane scopes
  config/codex/hooks/swarm-messages.mjs
  scripts/test-swarm-messages.mjs
Due: none

feat(jcode): enforce gateway and OAuth provider allowlist
  home/modules/ai-tools.nix
Due: alejandra, statix

fix(codex): subscribe fresh swarm consumers atomically
  config/codex/hooks/swarm-messages.mjs
  scripts/test-swarm-messages.mjs
Due: none

feat(agents): wire JCode and Factory swarm hooks
  config/agent-hooks/install-swarm-hooks.mjs
  config/codex/hooks/swarm-messages.mjs
  config/factory/settings.json
  scripts/test-swarm-hook-config.mjs
  scripts/test-swarm-messages.mjs
Due: none

fix(vcs): publish Forgejo over verified SSH transport
  scripts/repo-vcs.sh
  scripts/test-repo-vcs.sh
Due: shellcheck, shfmt

feat(wezterm): retarget persistent tmux sessions from vega to devbox
  config/wezterm/wezterm.lua
Due: none

feat(packages): add eternal-terminal for reconnecting devbox sessions
  home/modules/packages.nix
Due: alejandra, statix
