Repository mikkihugo/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: alejandra, statix, shellcheck, shfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    alejandra:
      glob: "*.nix"
      run: alejandra --check {staged_files}

    statix:
      glob: "*.nix"
      run: statix check {staged_files}

    shellcheck:
      glob: "*.sh"
      run: shellcheck --external-sources {staged_files}

    shfmt:
      glob: "*.sh"
      run: shfmt -d {staged_files}

    typos:
      run: typos {staged_files}

    detect-secrets:
      exclude: \.secrets\.baseline$
      run: detect-secrets-hook --baseline .secrets.baseline {staged_files}

fix(home): surface MCP config render failures instead of silently swallowing
  home/home.nix
Due: alejandra, statix

fix(vault-env): stop exporting ANTHROPIC_API_KEY — Claude Code uses OAuth
  tools/vault-client/vault-env.sh
Due: shellcheck, shfmt

feat(secrets): add ollama-cloud and llm-gateway bearer exports to load-ai-keys
  shell/bash/bashrc
Due: none

feat(secrets): add kimi-code separate key export
  shell/bash/bashrc
Due: none

docs(secrets): correct mail.hugo.dk dovecot key layout note
  secrets/mail.hugo.dk.yaml
Due: none

Add mail-hugo-new age key to sops for OpenClaw sync
  .sops.yaml
  secrets/api-keys.yaml
  secrets/hetzner-ssh.yaml
  secrets/mail.hugo.dk.yaml
  secrets/shared.yaml
Due: none

Add UPTIMEROBOT_API_KEY to sops secrets
  secrets/api-keys.yaml
Due: none

docs: update gsd → sf-run in SOPS documentation
  SOPS_USAGE.md
Due: none

feat: COLORTERM, ACE_WORKER/LLM_MUX env vars, remove dead git/config link
  home/home.nix
  lefthook.yml
  profiles/default/links.json
  secrets/api-keys.yaml
  shell/bash/bashrc
  typos.toml
Due: alejandra, statix

chore: remove openchamber service + fix hms (drop sops module, add .gitignore)
  .gitignore
  home/home.nix
  services/openchamber/default.nix
Due: alejandra, statix

feat: multi-arch support — laptop profile (aarch64) without GPU/CUDA
  flake.nix
  home/home.nix
  profiles/default/links.json
Due: alejandra, statix

feat: add nixd (Nix language server) to packages
  home/home.nix
Due: alejandra, statix

feat: bootstrap step 25 — apply hms + enable systemd linger
  bootstrap/steps/25-home-manager.sh
Due: shellcheck, shfmt

feat: complete new-machine bootstrap — install Nix, reorder steps
  bootstrap/steps/00-check-nix.sh
  bootstrap/steps/15-sops-setup.sh
  bootstrap/steps/20-home-manager.sh
  bootstrap/steps/25-sops-setup.sh
  bootstrap/steps/30-post.sh
Due: shellcheck, shfmt

refactor(shell): make home.nix the single source of truth
  .gitattributes
  .sops.yaml
  home/home.nix
  secrets/README.md
  secrets/api-keys.yaml
  secrets/shared.yaml
  shell/bash/bashrc
  shell/bash/modules/.gitkeep
  shell/bash/profile
  shell/shared/ai-tools.sh
  shell/shared/aliases.sh
  shell/shared/env.sh
  shell/shared/tooling.sh
  shell/zsh/modules/.gitkeep
  shell/zsh/modules/cleanup.zsh
  shell/zsh/profile
  shell/zsh/zshrc
  typos.toml
Due: alejandra, statix, shellcheck, shfmt

feat(scripts): add secrets-edit fzf picker for SOPS files
  scripts/secrets-edit
Due: none

fix(shell): hms alias must use --flake and --impure
  home/home.nix
Due: alejandra, statix

feat(tools): install openclaw via home-manager activation
  home/home.nix
  shell/bash/bashrc
Due: alejandra, statix

refactor(home): split monolithic home.nix into modules (LazyVim pattern)
  home/home.nix
  home/modules/activation.nix
  home/modules/files.nix
  home/modules/git.nix
  home/modules/packages.nix
  home/modules/shell.nix
Due: alejandra, statix

fix(home): fix module arg patterns to satisfy statix
  home/modules/files.nix
  home/modules/git.nix
Due: alejandra, statix

fix(activation): git on PATH for npm, run renderMcpConfigs after installPackages
  home/modules/activation.nix
Due: alejandra, statix

fix(activation): inject sops/age into PATH for renderMcpConfigs
  home/modules/activation.nix
Due: alejandra, statix

feat: openclaw systemd user service with SOPS-backed credentials
  home/home.nix
  home/modules/activation.nix
  home/modules/openclaw.nix
  secrets/api-keys.yaml
Due: alejandra, statix

fix(openclaw): back off 30s between restart attempts while awaiting pairing
  home/modules/openclaw.nix
Due: alejandra, statix

fix(openclaw): display name is Laptop (not Mikki-WSL)
  home/modules/openclaw.nix
  home/modules/shell.nix
Due: alejandra, statix

feat: declarative SSH config + Hetzner key from SOPS
  config/ssh_config
  home/modules/activation.nix
  home/modules/files.nix
Due: alejandra, statix

feat(headscale): store openclaw tailnet auth key in SOPS
  secrets/api-keys.yaml
Due: none

chore: migrate to nixos-25.11 stable + home-manager release-25.11
  flake.lock
  flake.nix
  home/home.nix
Due: alejandra, statix

chore: nixos-unstable (26.05-pre) + stateVersion 25.11
  flake.lock
  flake.nix
Due: alejandra, statix

add openclaw gateway password secret
  secrets/openclaw-gw.yaml
Due: none

chore: add SSH credentials for wf.portal.centralcloud.com
  secrets/wf-portal-ssh.yaml
Due: none

add mail.hugo.dk SSH keys (SOPS encrypted)
  secrets/mail-hugo-ssh.yaml
Due: none

chore: add Nix laptop SSH keys to sops
  secrets/nix-laptop-ssh.yaml
Due: none

chore: add WSL2 workstation SSH keys to sops
  secrets/wsl2-workstation-ssh.yaml
Due: none

shell: source openclaw env file in shellInit for TUI access
  home/modules/shell.nix
Due: alejandra, statix

chore: store all SSH private keys in sops encryption
  secrets/ssh-keys-all.yaml
Due: none

feat: centralize openclaw secret sync
  home/home.nix
  home/modules/openclaw.nix
  home/modules/shell.nix
  scripts/sync-openclaw-gateway-secrets
Due: alejandra, statix

fix: allow local openclaw secret sync
  scripts/sync-openclaw-gateway-secrets
Due: none

chore: update WSL2 hostname to Mikki-Bunker
  secrets/wsl2-workstation-ssh.yaml
Due: none

feat: automate host-specific dotfiles updates
  flake.lock
  home/home.nix
  home/modules/activation.nix
  home/modules/dotfiles-auto-update.nix
  home/modules/shell.nix
  scripts/current-home-profile
  scripts/sync-openclaw-gateway-secrets
Due: alejandra, statix
