Repository mikkihugo/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: alejandra, statix, shellcheck, shfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    alejandra:
      glob: "*.nix"
      run: alejandra --check {staged_files}

    statix:
      glob: "*.nix"
      run: statix check {staged_files}

    shellcheck:
      glob: "*.sh"
      run: shellcheck --external-sources {staged_files}

    shfmt:
      glob: "*.sh"
      run: shfmt -d {staged_files}

    typos:
      run: typos {staged_files}

    detect-secrets:
      exclude: \.secrets\.baseline$
      run: detect-secrets-hook --baseline .secrets.baseline {staged_files}

home: put nodejs on the user profile PATH (#47)
  home/modules/packages.nix
Due: alejandra, statix

fix(codex): scope MiniMax-M3 model catalog to the profile, not the primary
  config/codex/config.toml
  config/codex/minimax-m3.config.toml
  config/codex/shared-preferences.toml
  scripts/test-codex-preferences.py
Due: none

fix(codex): make terra the default model
  config/codex/config.toml
  config/codex/shared-preferences.toml
  scripts/test-codex-hosted-search.mjs
  scripts/test-codex-preferences.py
Due: none

fix(codex): use persistent mailbox hook
  config/codex/AGENTS.md
  docs/work/2026-09-19-codex-agent-mailbox-session/README.md
  docs/work/2026-09-19-codex-agent-mailbox-session/current-spec.snapshot.json
  docs/work/2026-09-19-codex-agent-mailbox-session/evidence/green.json
  docs/work/2026-09-19-codex-agent-mailbox-session/evidence/quality.json
  docs/work/2026-09-19-codex-agent-mailbox-session/evidence/red.json
  docs/work/2026-09-19-codex-agent-mailbox-session/evidence/review.json
  docs/work/2026-09-19-codex-agent-mailbox-session/evidence/runtime.json
  docs/work/2026-09-19-codex-agent-mailbox-session/evidence/validation-limitation.json
  docs/work/2026-09-19-codex-agent-mailbox-session/purpose.contract.json
  docs/work/2026-09-19-codex-agent-mailbox-session/work.spec.json
  scripts/test-codex-mailbox-instructions.mjs
Due: none

feat(terminal): add managed Tabby profile
  config/tabby/config.yaml
  docs/work/2026-09-19-tabby-terminal/README.md
  docs/work/2026-09-19-tabby-terminal/current-spec.snapshot.json
  docs/work/2026-09-19-tabby-terminal/purpose.contract.json
  docs/work/2026-09-19-tabby-terminal/validation.report.json
  docs/work/2026-09-19-tabby-terminal/work.spec.json
  home/home.nix
  home/modules/tabby.nix
  scripts/repo-check.sh
  scripts/test-nix-tooling.mjs
  scripts/test-tabby-terminal.mjs
Due: alejandra, statix, shellcheck, shfmt

fix(terminal): package the actual Tabby emulator
  docs/work/2026-09-19-tabby-terminal/README.md
  docs/work/2026-09-19-tabby-terminal/purpose.contract.json
  home/modules/tabby.nix
  scripts/test-tabby-terminal.mjs
Due: alejandra, statix

feat(packages): put clang, mold and cmake on the profile PATH
  home/modules/packages.nix
Due: alejandra, statix

fix(codex): consume canonical Purpose external harness skill
  config/codex/AGENTS.md
  config/codex/skills/external-harness-orchestration/SKILL.md
  config/codex/skills/external-harness-orchestration/agents/openai.yaml
  docs/work/2026-09-19-codex-external-harness-purpose-overlay/README.md
  docs/work/2026-09-19-codex-external-harness-purpose-overlay/current-spec.snapshot.json
  docs/work/2026-09-19-codex-external-harness-purpose-overlay/evidence.bundle.json
  docs/work/2026-09-19-codex-external-harness-purpose-overlay/evidence/changed-files.json
  docs/work/2026-09-19-codex-external-harness-purpose-overlay/evidence/red.json
  docs/work/2026-09-19-codex-external-harness-purpose-overlay/evidence/result.json
  docs/work/2026-09-19-codex-external-harness-purpose-overlay/purpose.contract.json
  docs/work/2026-09-19-codex-external-harness-purpose-overlay/validation.report.json
  docs/work/2026-09-19-codex-external-harness-purpose-overlay/work.spec.json
  home/modules/files.nix
  scripts/test-codex-external-harness-skill.mjs
Due: alejandra, statix

grok mail-sweep: Codex -hook reader + HOME banks via COORDINATION_HOME_MAILBOXES; HM-install shared sweep
  config/codex/hooks/coordination-mailbox-sweep.mjs
  config/codex/hooks/coordination-mailbox-sweep.test.mjs
  config/grok/hooks/mail-sweep.sh
  home/modules/files.nix
Due: alejandra, statix, shellcheck, shfmt

fix(grok-leader): skip start when a live leader already holds the socket
  home/modules/grok-leader.nix
Due: alejandra, statix

feat(agent-hooks): per-client server-managed opt-out; remove engine mirror
  config/agent-hooks/hooks.lock.json
  config/agent-hooks/install-swarm-hooks.mjs
  home/modules/activation.nix
  home/modules/files.nix
  scripts/test-detect-secrets-work-packet-filter.mjs
  scripts/test-swarm-hook-config.mjs
Due: alejandra, statix

fix(hooks): run each CLI sweep from its own ~/.cli/hooks directory
  config/agent-hooks/install-swarm-hooks.mjs
  config/claude/hooks/coordination-mailbox-sweep.sh
  config/claude/hooks/stop-continue-if-actionable.mjs
  config/claude/hooks/stop-continue-if-actionable.test.mjs
  config/codex/hooks/coordination-mailbox-sweep.sh
  config/copilot/hooks/coordination-mailbox-sweep.sh
  config/cursor/hooks.json
  config/factory/hooks/coordination-mailbox-sweep.sh
  config/grok/hooks/mail-sweep.sh
  config/kimi-code/hooks/coordination-mailbox-sweep.sh
  config/kimi-code/hooks/swarm-messages.sh
  config/opencode/plugins/coordination-mailbox-sweep.js
  home/modules/files.nix
  scripts/test-swarm-hook-config.mjs
Due: alejandra, statix, shellcheck, shfmt

feat(packages): agentgrep CLI on PATH (pinned 0.1.0a52, clean env)
  home/modules/packages.nix
Due: alejandra, statix

fix grok minimax responses compatibility
  home/home.nix
  home/modules/minimax-responses-compat.nix
  home/modules/minimax-responses-compat.py
  home/tests/test-minimax-responses-compat.py
Due: alejandra, statix

add periodic minimax responses health watchdog
  home/modules/minimax-responses-compat.nix
Due: alejandra, statix

repair Grok MiniMax Responses tool-call replay correlation
  home/modules/minimax-responses-compat.py
  home/tests/test-minimax-responses-compat.py
Due: none

diagnose rejected Responses replay metadata safely
  home/modules/minimax-responses-compat.py
Due: none

codex: add direct AgentGrep MCP server
  config/codex/config.toml
Due: none

test(stable-shell): assert the agent-shell wrapper is actually executable
  scripts/test-stable-shell-path.mjs
Due: none

grok-leader: mirror live leader flags in ExecStart
  home/modules/grok-leader.nix
Due: alejandra, statix

fix(jcode-gc): protect every live build reference, not just the server symlink
  home/modules/jcode-gc.nix
Due: alejandra, statix

fix(jcode-gc): enumerate build channels by glob, not by name
  home/modules/jcode-gc.nix
Due: alejandra, statix

fix(ai-tools): drop nix codex; npm-only, stable 0.155.1
  home/modules/ai-tools.nix
Due: alejandra, statix

test(nix-tooling): repoint optionals sentinel off llm-pkgs.codex
  scripts/test-nix-tooling.mjs
Due: none

nix-gc: reprovision Engine, jcode, and infra shells after GC
  docs/agents/self-explanatory-timer-catalog.md
  home/modules/nix-gc-sweep.nix
Due: alejandra, statix

fix(minimax-responses-compat): strip reasoning items Grok cannot deserialize
  home/modules/minimax-responses-compat.py
  home/tests/test-minimax-responses-compat.py
Due: none

fix(direnv): invalidate cached exports with missing store paths
  scripts/test-nix-direnv-no-flake-input-gcroots.mjs
  shell/bash/direnv-export.sh
Due: shellcheck, shfmt

docs(timers): note nix-gc-reprovision is not post-land
  docs/agents/self-explanatory-timer-catalog.md
Due: none

fix(backup): stop Storage Box jobs sharing one ssh connection
  home/modules/home-emergency-backup.nix
  scripts/test-nix-tooling.mjs
Due: alejandra, statix

fix(codex): default to Luna Reserve (gpt-reserve) instead of terra
  config/codex/config.toml
  config/codex/shared-preferences.toml
  scripts/test-codex-hosted-search.mjs
  scripts/test-codex-preferences.py
Due: none

feat(agents): put purpose backbone in Codex and jcode
  config/agents/purpose-backbone.md
  config/jcode/swarm-prompt.md
  docs/work/2026-09-23-purpose-backbone/README.md
  docs/work/2026-09-23-purpose-backbone/current-spec.snapshot.json
  docs/work/2026-09-23-purpose-backbone/evidence.bundle.json
  docs/work/2026-09-23-purpose-backbone/evidence/changed-files.json
  docs/work/2026-09-23-purpose-backbone/evidence/green-proof.txt
  docs/work/2026-09-23-purpose-backbone/evidence/red-proof.txt
  docs/work/2026-09-23-purpose-backbone/purpose.contract.json
  docs/work/2026-09-23-purpose-backbone/work.spec.json
  home/modules/activation.nix
  home/modules/jcode-providers.nix
  scripts/codex-preferences
  scripts/repo-check.sh
  scripts/test-purpose-backbone.py
Due: alejandra, statix, shellcheck, shfmt

feat(agentgrep): local stores for Kimi Code, Qoder and jcode
  home/modules/agentgrep/agentgrep-0.1.0a52-py3-none-any.whl
  home/modules/agentgrep/agentgrep-local-stores.patch
  home/modules/agentgrep/test_local_stores.py
  home/modules/packages.nix
Due: alejandra, statix

test(codex-preferences): make apply test hermetic against host purpose backbone
  scripts/test-codex-preferences.py
Due: none

fix(backup): stop hot-source create from timing out every cycle
  home/modules/home-emergency-backup.nix
Due: alejandra, statix

test(nix-tooling): update hot-source characterization for the RuntimeMaxSec bump
  scripts/test-nix-tooling.mjs
Due: none

fix(engine-worktree-cleanup): load the facade environment once per sweep
  home/modules/engine-worktree-cleanup.sh
  scripts/test-engine-worktree-cleanup.sh
Due: shellcheck, shfmt

feat(forgejo-token-file): materialise the Forgejo token from OpenBao at login
  home/home.nix
  home/modules/forgejo-token-file.nix
Due: alejandra, statix

Bump glm-5.2 to glm-5.3, add codex managed-daemon auto-refresh, drop stale cachix
  config/jcode/shared-preferences.toml
  config/jcode/swarm-prompt.md
  flake.nix
  home/home.nix
  home/modules/codex-server-auto-update.nix
  scripts/test-jcode-preferences.py
  scripts/test-nix-tooling.mjs
  scripts/test-purpose-backbone.py
Due: alejandra, statix
